
<h1 class="sectionedit1" id="create_voxeo_channel">Create Voxeo channel</h1>
<div class="level1">

<p>
You can also integrate with <a href="http://voxeo.com" class="urlextern" title="http://voxeo.com"  rel="nofollow">Voxeo IVR platform</a> to receive and make calls from it into Verboice.<br/>

</p>
<ol>
<li class="level1"><div class="li"> Click on drop down list and choose <strong>“Voxeo channel”</strong><br/>
<img src="/verboice/lib/exe/fetch.php?media=en:vbchannel:vb_going_to_create_voxeo_channel.png" class="media" alt="" /><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
<ul>
<li class="level2"><div class="li"> <strong>Name</strong>: is the name channel</div>
</li>
<li class="level2"><div class="li"> <strong>Call flow</strong>: select the call flow for this channel</div>
</li>
<li class="level2"><div class="li"> <strong>Token</strong>: is provide by Voxeo</div>
</li>
<li class="level2"><div class="li"> <strong>Url</strong>: is provide by Voxeo</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> to finish<br/>
</div>
</li>
</ol>

</div>
