
<h1 class="sectionedit1" id="delete_channel_in_verboice">Delete Channel in Verboice</h1>
<div class="level1">

<p>
User also can delete the channel by follow the instruction below:
</p>
<ol>
<li class="level1"><div class="li"> Go to channel list by click on menu <strong>“Channels”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbchannel%3Adeletechannel&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the channel that you want to delete.</div>
</li>
<li class="level1"><div class="li"> Click button <strong>“Delete this channel”</strong> at the button-left.<br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbchannel%3Adeletechannel&amp;media=en:vbchannel:vb_delete_channel.png" class="media" title="en:vbchannel:vb_delete_channel.png"><img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_delete_channel.png" class="media" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> Click <strong>OK</strong> to confirm</div>
</li>
</ol>

</div>
