
<h1 class="sectionedit1" id="why_use_resource_map">Why use Resource Map?</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Why use Resource Map?" [1-36] -->
<h3 class="sectionedit2" id="easily">Easily</h3>
<div class="level3">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_resource_map&amp;media=en:introduction:easily.png" class="media wikilink2" title="en:introduction:easily.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:easily.png" class="media" alt="" /></a> See anomalies through unusual distribution patterns.
</p>

</div>
<!-- EDIT2 SECTION "Easily" [37-139] -->
<h3 class="sectionedit3" id="stay_connected">Stay connected</h3>
<div class="level3">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_resource_map&amp;media=en:introduction:stay_connecte.png" class="media wikilink2" title="en:introduction:stay_connecte.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:stay_connecte.png" class="media" alt="" /></a> Through text message alerts about important events and thresholds.
</p>

</div>
<!-- EDIT3 SECTION "Stay connected" [140-271] -->
<h3 class="sectionedit4" id="helps">Helps</h3>
<div class="level3">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_resource_map&amp;media=en:introduction:help.png" class="media wikilink2" title="en:introduction:help.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:help.png" class="media" alt="" /></a> You have more information for quick decision making.
</p>

</div>
<!-- EDIT4 SECTION "Helps" [272-371] -->
<h3 class="sectionedit5" id="removes">Removes</h3>
<div class="level3">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_resource_map&amp;media=en:introduction:removes.png" class="media wikilink2" title="en:introduction:removes.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:removes.png" class="media" alt="" /></a> The need for a GIS expert to help visualize data.
</p>

</div>
<!-- EDIT5 SECTION "Removes" [372-473] -->
<h3 class="sectionedit6" id="free">Free</h3>
<div class="level3">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_resource_map&amp;media=en:introduction:free.png" class="media wikilink2" title="en:introduction:free.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:free.png" class="media" alt="" /></a> For anyone to use to help increase their social impact.
</p>

</div>
<!-- EDIT6 SECTION "Free" [474-575] -->
<h3 class="sectionedit7" id="open_source">Open Source</h3>
<div class="level3">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_resource_map&amp;media=en:introduction:open_source.png" class="media wikilink2" title="en:introduction:open_source.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:open_source.png" class="media" alt="" /></a> Code for developers to use to improve its design and functionality.
</p>

</div>
<!-- EDIT7 SECTION "Open Source" [576-] -->