/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <clarencedglee@gmail.com>
 */

/* header
********************************************************************/

#dokuwiki__header {
    padding: 2em 0 0.5em;
}

#dokuwiki__header .headings,
#dokuwiki__header .tools {
    margin-bottom: 0.5em;
    width: 49%;
}
#dokuwiki__header h1 img {
    float: left;
    margin-right: .5em;
}
[dir=rtl] #dokuwiki__header h1 img {
    float: right;
    margin-left: .5em;
    margin-right: 0;
}
#dokuwiki__header h1 span {
    display: block;
    padding-top: 10px;
}
#dokuwiki__header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}
#dokuwiki__header h1 a {
    text-decoration: none;
    color: __text__;
    background-color: inherit;
}
#dokuwiki__header h1 a:hover,
#dokuwiki__header h1 a:active,
#dokuwiki__header h1 a:focus {
}
#dokuwiki__header p.claim {
    margin-bottom: 0;
    font-size: 0.875em;
}

#dokuwiki__header .tools {
    margin-top: .2em;
}


/* tools
********************************************************************/

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

#dokuwiki__header .tools ul {
    padding-left: 0;
    margin-bottom: 0;
}
#dokuwiki__header .tools li {
    font-size: 0.875em;
    margin-left: 1em;
    list-style: none;
    display: inline;
}
[dir=rtl] #dokuwiki__header .tools li {
    margin-right: 1em;
    margin-left: 0;
}
#dokuwiki__header .tools form.search div.ajax_qsearch li {
    font-size: 1em;
    margin-left: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dokuwiki__usertools a.action {
    padding-left: 20px;
    background: transparent url(images/usertools.png) no-repeat 0 0;
}
[dir=rtl] #dokuwiki__usertools a.action {
    padding-left: 0;
    padding-right: 20px;
}
[dir=rtl] #IE7 #dokuwiki__usertools a.action {
    display: inline-block;
}


#dokuwiki__header .mobileTools {
    display: none; /* hide mobile tools dropdown to only show in mobile view */
}

/*____________ user tools ____________*/

#dokuwiki__usertools {
    position: absolute;
    top: .5em;
    right: .5em;
    text-align: right;
    width: 100%;
}
[dir=rtl] #dokuwiki__usertools {
    text-align: left;
    left: 40px;
    right: auto;
}
#dokuwiki__usertools ul {
    margin: 0 auto;
    padding: 0;
    max-width: __site_width__;
}
#dokuwiki__usertools ul li.user {
}

#dokuwiki__usertools a.action.admin {
    background-position: left 0;
}
[dir=rtl] #dokuwiki__usertools a.action.admin {
    background-position: right 0;
}
#dokuwiki__usertools a.action.profile {
    background-position: left -32px;
}
[dir=rtl] #dokuwiki__usertools a.action.profile {
    background-position: right -32px;
}
#dokuwiki__usertools a.action.register {
    background-position: left -64px;
}
[dir=rtl] #dokuwiki__usertools a.action.register {
    background-position: right -64px;
}
#dokuwiki__usertools a.action.login {
    background-position: left -96px;
}
[dir=rtl] #dokuwiki__usertools a.action.login {
    background-position: right -96px;
}
#dokuwiki__usertools a.action.logout {
    background-position: left -128px;
}
[dir=rtl] #dokuwiki__usertools a.action.logout {
    background-position: right -128px;
}


/*____________ site tools ____________*/

#dokuwiki__sitetools {
    text-align: right;
}
[dir=rtl] #dokuwiki__sitetools {
    text-align: left;
}

#dokuwiki__sitetools form.search {
    display: block;
    font-size: 0.875em;
    position: relative;
	margin-top: 25px;
}
#IE7 #dokuwiki__sitetools form.search {
    min-height: 1px;
    z-index: 21;
}
#dokuwiki__sitetools form.search input.edit {
    width: 18em;
    padding: .35em 22px .35em .1em;
}
[dir=rtl] #dokuwiki__sitetools form.search input.edit {
    padding: .35em .1em .35em 22px;
}
#dokuwiki__sitetools form.search input.button {
    background: transparent url(images/search.png) no-repeat 0 0;
    border-width: 0;
    width: 19px;
    height: 14px;
    text-indent: -99999px;
    margin-left: -20px;
    box-shadow: none;
    padding: 0;
}
[dir=rtl] #dokuwiki__sitetools form.search input.button {
    background-position: 5px 0;
    margin-left: 0;
    margin-right: -20px;
    position: relative;
}

#dokuwiki__sitetools ul {
    margin-top: 0.5em;
}
#dokuwiki__sitetools li {
}

/*____________ breadcrumbs ____________*/

.dokuwiki div.breadcrumbs {
    border-top: 1px solid __border__;
    border-bottom: 1px solid __background__;
    margin-bottom: .5em;
    font-size: 0.875em;
    clear: both;
}
.dokuwiki div.breadcrumbs div {
    padding: .1em .35em;
}

.dokuwiki div.breadcrumbs div:only-child {
    border-top: 1px solid __background__;
    border-bottom: 1px solid __border__;
}
.dokuwiki div.breadcrumbs div:first-child {
    border-top: 1px solid __background__;
}
#IE7 .dokuwiki div.breadcrumbs div,
#IE8 .dokuwiki div.breadcrumbs div {
    border-bottom: 1px solid __border__;
}
.dokuwiki div.breadcrumbs div:last-child {
    border-bottom: 1px solid __border__;
}

.dokuwiki div.breadcrumbs a {
    color: __link__;
    background-color: inherit;
}
.dokuwiki div.breadcrumbs .bcsep {
    font-size: 0.75em;
}


/* sidebar
********************************************************************/

#dokuwiki__aside {
}
#dokuwiki__aside > .pad {
    font-size: 0.875em;
    overflow: hidden;
    word-wrap: break-word;
}

/* make sidebar more condensed */

#dokuwiki__aside h1 {
    font-size: 1.714em;
    margin-bottom: .292em;
}
#dokuwiki__aside h2 {
    margin-bottom: .333em;
}
#dokuwiki__aside h3 {
    margin-bottom: .444em;
}
#dokuwiki__aside h4 {
    margin-bottom: .5em;
}
#dokuwiki__aside h5 {
    margin-bottom: .5714em;
}

#dokuwiki__aside p,
#dokuwiki__aside ul,
#dokuwiki__aside ol,
#dokuwiki__aside dl,
#dokuwiki__aside pre,
#dokuwiki__aside table,
#dokuwiki__aside fieldset,
#dokuwiki__aside hr,
#dokuwiki__aside blockquote,
#dokuwiki__aside address {
    margin-bottom: .7em;
}

#dokuwiki__aside ul,
#dokuwiki__aside ol {
    padding-left: .5em;
}
[dir=rtl] #dokuwiki__aside ul,
[dir=rtl] #dokuwiki__aside ol {
    padding-right: .5em;
}
#dokuwiki__aside li ul,
#dokuwiki__aside li ol {
    margin-bottom: 0;
    padding: 0;
}

#dokuwiki__aside a:link,
#dokuwiki__aside a:visited {
    color: __link__;
    background-color: inherit;
}


/* content
********************************************************************/

#dokuwiki__content {
}

.dokuwiki .pageId {
    position: absolute;
    top: -2.3em;
    right: -1em;
    overflow: hidden;
    padding: 1em 1em 0;
}
[dir=rtl] .dokuwiki .pageId {
    right: auto;
    left: -1em;
}
.dokuwiki .pageId span {
    font-size: 0.875em;
    border: solid __background_alt__;
    border-width: 1px 1px 0;
    background-color: __background__;
    color: __text_alt__;
    padding: .1em .35em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 0 .5em __text_alt__;
    display: block;
}

.dokuwiki div.page {
    background: __background__;
    color: inherit;
    border: 1px solid __background_alt__;
    box-shadow: 0 0 .5em __text_alt__;
    border-radius: 2px;
    padding: 1.556em 2em 2em;
    margin-bottom: .5em;
    overflow: hidden;
    word-wrap: break-word;
}

.dokuwiki .docInfo {
    font-size: 0.875em;
    text-align: right;
}
[dir=rtl] .dokuwiki .docInfo {
    text-align: left;
}

/* license note under edit window */
.dokuwiki div.license {
    font-size: 93.75%;
}


/* footer
********************************************************************/

.dokuwiki .wrapper {
    margin-bottom: 1.4em;
}

#dokuwiki__footer {
    margin-bottom: 1em;
    text-align: center;
}
#dokuwiki__footer > .pad {
    font-size: 0.875em;
}

#dokuwiki__footer div.license {
    margin-bottom: 0.5em;
    font-size: 100%;
}

[dir=rtl] #dokuwiki__footer .license img {
    margin: 0 0 0 .5em;
}

#dokuwiki__footer div.buttons a img {
    opacity: 0.5;
}
#dokuwiki__footer div.buttons a:hover img,
#dokuwiki__footer div.buttons a:active img,
#dokuwiki__footer div.buttons a:focus img {
    opacity: 1;
}
