
<h1 class="sectionedit1" id="how_to_use_hang_up_control">How to use &quot;Hang Up&quot; control</h1>
<div class="level1">

<p>
Hang up control is used when you would like to terminate the call.<br/>

</p>
<div class="thumb2 tcenter" style="width:910px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_hang_up_control&amp;media=en:vbprojectcallstepcontrol:vb_using_hangup_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_using_hangup_control.png"><img src="/help/lib/exe/fetch.php?w=900&amp;tok=3c4d25&amp;media=en:vbprojectcallstepcontrol:vb_using_hangup_control.png" class="mediabox2" alt="" width="900" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_hang_up_control&amp;media=en:vbprojectcallstepcontrol:vb_using_hangup_control.png"><img width="15" height="11" alt="" src="/help/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot showing that Hang Up control has been used in Menu control that if the caller press keypad button 4, the the system will terminate the call.</div></div></div>
</div>
