
<h1 class="sectionedit1" id="edit_reminder_group">Edit Reminder Group</h1>
<div class="level1">

<p>
When the reminder group have been created, you can edit name or people phone number in reminder group also.
</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/verboice/lib/exe/detail.php?id=en%3Avbremindergroup%3Aeditremindergroup&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to edit reminder group.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Reminder Group”</strong> tab. </div>
</li>
<li class="level1"><div class="li"> Click on button <strong>“Edit”</strong> of the reminder group that you want to edit. </div>
</li>
<li class="level1"><div class="li"> Update the name or phone number as you want then click button <strong>“Save”</strong> to save change your update.</div>
</li>
</ol>
<div class="thumb2 tcenter" style="width:649px"><div class="thumbinner"><img src="/verboice/lib/exe/fetch.php?media=en:vbremindergroup:vb_edit_reminder_group.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that we want to edit reminder group <strong>Pregnancy</strong>.</div></div></div>
</div>
