
<h1 class="sectionedit1" id="edit_channel_in_verboice">Edit Channel in Verboice</h1>
<div class="level1">

<p>
When the channel has been created, you also can edit that channel.
</p>
<ol>
<li class="level1"><div class="li"> Go to channel list by click on menu <strong>“Channels”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/verboice/lib/exe/detail.php?id=en%3Avbchannel%3Aeditchannel&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the channel that you want to edit.</div>
</li>
<li class="level1"><div class="li"> Click on tab <strong>“Setting”</strong>.<br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbchannel%3Aeditchannel&amp;media=en:vbchannel:vb_edit_channel.png" class="media" title="en:vbchannel:vb_edit_channel.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbchannel:vb_edit_channel.png" class="mediacenter" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> Edit the channel setting as you want.</div>
</li>
<li class="level1"><div class="li"> Click button <strong>“Update”</strong> to save change your setting.</div>
</li>
</ol>

</div>
