
<h1 class="sectionedit1" id="what_is_resource_map">What is Resource Map?</h1>
<div class="level1">

<p>
<a href="/verboice/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_is_resource_map&amp;media=en:introduction:data_collection.png" class="media" title="en:introduction:data_collection.png"><img src="/verboice/lib/exe/fetch.php?w=300&amp;tok=775e58&amp;media=en:introduction:data_collection.png" class="medialeft" alt="" width="300" /></a>
</p>

<p>
Make better decisions by knowing where your resources are in real time.<br/>

Resource Map helps you record, track and analyze your resources geographically in a collaborative environment accessible from anywhere. This tool overlays information about resources onto a map so you can see, at a glance, who has what and where they are.
</p>

</div>
