
<h1 class="sectionedit1" id="how_does_it_work">How does it work?</h1>
<div class="level1">

<p>
Getting started with Resource Map is simple. All you need to do is upload your database to the website and you can see your data live on the surface of a map. Once it is in the Resource Map system, your teams in the field can update information live from the field through text messages or through a computer allowing everyone to see updates live as they happen. In addition, you and your teams can query specific searches through a computer or a text message as well as set up alerts so you can stay up to date about important information in real time and on the go.<br/>

<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Ahow_does_it_work&amp;media=en:introduction:how_resource_map_work.png" class="media wikilink2" title="en:introduction:how_resource_map_work.png"><img src="/resourcemap/lib/exe/fetch.php?w=500&amp;tok=7e0a2b&amp;media=en:introduction:how_resource_map_work.png" class="mediacenter" alt="" width="500" /></a>
</p>

</div>
