
<h1 class="sectionedit1" id="how_to_use_register_control">How to use &quot;Register&quot; control</h1>
<div class="level1">

<p>
This is Register control. It&#039;s used to register user phone number into reminder group for remind back to the caller later.<br/>
Before add this control to your call flow, you have to create the reminder group first. Click <a href="/help/doku.php?id=en:vbremindergroup:createremindergroup" class="wikilink1" title="en:vbremindergroup:createremindergroup">here</a> to learn more about how to create reminder group.<br/>

Click on Register control to add to your call step and setting up as the below:
</p>
<ul>
<li class="level1"><div class="li"> <strong>Confirmation</strong>: is where you can explain to tell to the caller that caller&#039;s phone number will be register to system for reminder back next time. Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_register_control&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the confirmation label and set the explanation.</div>
</li>
<li class="level1"><div class="li"> <strong>Reminder group</strong>: click on drop down list and choose the reminder group for storing caller&#039;s phone number.</div>
</li>
</ul>

<p>
Click button <strong>Save</strong> to finish.<br/>

</p>
<div class="thumb2 tcenter" style="width:344px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_register_control&amp;media=en:vbprojectcallstepcontrol:vb_register_control_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_register_control_setting.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_register_control_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that the caller&#039;s phone number will be registered to reminder group <strong>Pregnancy follow up</strong>.</div></div></div>
</div>
