
<h1 class="sectionedit1" id="why_use_verboice">Why use Verboice?</h1>
<div class="level1">

<p>
<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:language.png" class="media" title="en:introduction:language.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=c8cacf&amp;media=en:introduction:language.png" class="media" alt="" width="35" /></a>Overcome literacy barriers with verbal communication.<br/>
<br/>

<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:sound.png" class="media" title="en:introduction:sound.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=9c95c8&amp;media=en:introduction:sound.png" class="media" alt="" width="35" /></a>Create voice-based programs without coding.<br/>
<br/>

<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:scale.png" class="media" title="en:introduction:scale.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=c100bd&amp;media=en:introduction:scale.png" class="media" alt="" width="35" /></a>Scales to suit your needs.<br/>
<br/>

<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:computer.png" class="media" title="en:introduction:computer.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=2b689d&amp;media=en:introduction:computer.png" class="media" alt="" width="35" /></a>Generate projects using any computer with Internet access.<br/>
<br/>

<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:users.png" class="media" title="en:introduction:users.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=bb86c3&amp;media=en:introduction:users.png" class="media" alt="" width="35" /></a>Reach out to any community, anywhere there&#039;s access to basic phones.<br/>
<br/>

<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:shred.png" class="media" title="en:introduction:shred.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=78b98f&amp;media=en:introduction:shred.png" class="media" alt="" width="35" /></a><abbr title="Application Programming Interface">API</abbr> based on standards.<br/>
<br/>

<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:free.png" class="media" title="en:introduction:free.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=bcbcec&amp;media=en:introduction:free.png" class="media" alt="" width="35" /></a>Free for anyone to use to help increase their social impact.<br/>
<br/>

<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhy_use_verboice&amp;media=en:introduction:opensource.png" class="media" title="en:introduction:opensource.png"><img src="/help/lib/exe/fetch.php?w=35&amp;tok=1f2243&amp;media=en:introduction:opensource.png" class="media" alt="" width="35" /></a>Open Source code for developers to use to improve its design and functionality.
</p>

</div>
