
<h1 class="sectionedit1" id="delete_project">Delete Project</h1>
<div class="level1">

<p>
User also can delete that project by follow the instruction below:
</p>
<ol>
<li class="level1"><div class="li"> Click on <strong>”<a href="http://verboice-cambodia.instedd.org/projects" class="urlextern" title="http://verboice-cambodia.instedd.org/projects"  rel="nofollow">Projects</a>“</strong> menu.</div>
</li>
<li class="level1"><div class="li"> Click on setting icon of the project that you want to edit.<br/>
<div class="thumb2 tcenter" style="width:638px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbproject%3Adelete_project&amp;media=en:vbproject:vb_will_going_to_project_setting.png" class="media" title="en:vbproject:vb_will_going_to_project_setting.png"><img src="/help/lib/exe/fetch.php?media=en:vbproject:vb_will_going_to_project_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we will go to setting of project <strong>“Pregnancy Information”</strong> project.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Overview”</strong> tab. This tab is also automatically redirect when setting icon was clicked.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Delete this project”</strong> </div>
</li>
<li class="level1"><div class="li"> Click button <strong>“OK”</strong> to confirm deleting.<br/>
<div class="thumb2 tcenter" style="width:689px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?media=en:vbproject:vb-delete-project.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot showing that we want to delete project <strong>Pregnancy Information</strong>.</div></div></div></div>
</li>
</ol>

</div>
