
<h1 class="sectionedit1" id="what_can_i_use_it_for">What can I use it for?</h1>
<div class="level1">

<p>
Verboice is an ideal solution for reaching out to communities whatever their level of literacy or technological sophistication. Here are a few of the ways Verboice can help you inform, educate, and improve the lives of any audience with access to basic phone services: <br/>

</p>

</div>
<!-- EDIT1 SECTION "What can I use it for?" [1-310] -->
<h3 class="sectionedit2" id="healthier_pregnancies_and_happier_babies">Healthier Pregnancies and Happier Babies</h3>
<div class="level3">

<p>
<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:medicine.png" class="media" title="en:introduction:medicine.png"><img src="/help/lib/exe/fetch.php?w=100&amp;tok=229616&amp;media=en:introduction:medicine.png" class="medialeft" alt="" width="100" /></a>Healthy babies and mothers form the foundation of a thriving community. With Verboice, mother/child health advocates can extend their educational outreach campaigns to communities with previously minimal access to prenatal and maternal health education. From month-by-month updates on what to expect during pregnancy to checkup reminders and newborn care advice, Verboice interactive voice campaigns can make a positive difference that will be felt for generations to come.<br/>

</p>

</div>
<!-- EDIT2 SECTION "Healthier Pregnancies and Happier Babies" [311-877] -->
<h3 class="sectionedit3" id="researching_human_rights_conditions">Researching Human Rights Conditions</h3>
<div class="level3">

<p>
<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:piechart.png" class="media" title="en:introduction:piechart.png"><img src="/help/lib/exe/fetch.php?w=100&amp;tok=c8c6f8&amp;media=en:introduction:piechart.png" class="medialeft" alt="" width="100" /></a>There&#039;s no better authority on the state of human rights in a community than community members themselves. Verboice allows human rights investigators to survey anonymous callers and get an accurate picture of the ground-level conditions in a community. When abuses are noted, human rights organizations can use Verboice to point the way toward supportive/protective resources, supply legal information, and give the most oppressed a voice that carries beyond the confines of their communities.<br/>

</p>

</div>
<!-- EDIT3 SECTION "Researching Human Rights Conditions" [878-1459] -->
<h3 class="sectionedit4" id="coordinating_first_responders">Coordinating First Responders</h3>
<div class="level3">

<p>
<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:fire.png" class="media" title="en:introduction:fire.png"><img src="/help/lib/exe/fetch.php?w=100&amp;tok=90d0ea&amp;media=en:introduction:fire.png" class="medialeft" alt="" width="100" /></a>Effectively coordinating first response efforts can mean the difference between a relatively minor misfortune and a disaster. Using Verboice, first responders quickly get a firsthand look at the conditions in even widely separated communities, without having to spend precious time travelling from place to place. Triage efforts are based on voice reports gathered directly from victims, helping disaster response teams to better deal with often rapidly changing circumstances and deliver the best care possible.<br/>

</p>

</div>
<!-- EDIT4 SECTION "Coordinating First Responders" [1460-2050] -->
<h3 class="sectionedit5" id="organizing_campaign_activists">Organizing Campaign Activists</h3>
<div class="level3">

<p>
<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:tree.png" class="media" title="en:introduction:tree.png"><img src="/help/lib/exe/fetch.php?w=100&amp;tok=2a1020&amp;media=en:introduction:tree.png" class="medialeft" alt="" width="100" /></a>With Verboice, activists can organize their members from anywhere in the world, using only basic phone equipment. From information about how to participate to inspirational messages from community leaders, outgoing communications can be easily recorded and made instantly available to fellow activists. To keep everyone on track, activists can share ideas about priorities and new initiatives from any cellular or landline-based phone. Whatever the cause, Verboice makes change just a little easier to achieve.
</p>

</div>
<!-- EDIT5 SECTION "Organizing Campaign Activists" [2051-] -->