
<h1 class="sectionedit1" id="video_of_setting_up_testing_channel_by_using_callcentric">Video of Setting up Testing Channel By Using Callcentric</h1>
<div class="level1">

<p>
Below is the video tutorial how to set up testing channel on Verboice by using Callcentric.<br/>

</p>
<ol>
<li class="level1"><div class="li"> How to create callcentric account</div>
</li>
<li class="level2"><div class="li"> First time confirmation after register with callcentric</div>
</li>
<li class="level2"><div class="li"> Fill in information in callcentric after first time confirmation</div>
</li>
<li class="level2"><div class="li"> Second time confirmation</div>
</li>
<li class="level2"><div class="li"> Go to view the cellcentric extension</div>
</li>
</ol>

<p>
 —————————————-
</p>
<ol>
<li class="level1"><div class="li"> Create callcentric channel and using callcentric number to configure</div>
</li>
<li class="level2"><div class="li"> Viewing channel is it connected or not and also in callcentric</div>
</li>
</ol>

<p>
 ———————————————-
</p>
<ol>
<li class="level1"><div class="li"> Create new callcentric extension for x-lite softphone</div>
</li>
<li class="level2"><div class="li"> Set up x-lite</div>
</li>
<li class="level2"><div class="li"> configure in x-lite</div>
</li>
</ol>

<p>
 —————————————–
</p>
<ol>
<li class="level1"><div class="li"> calling from x-lite to verboice</div>
</li>
</ol>

</div>
