
<h1 class="sectionedit1" id="table_of_contents">TABLE OF CONTENTS</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "TABLE OF CONTENTS" [2-36] -->
<h2 class="sectionedit2" id="i-_introduction">I- INTRODUCTION</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:introduction:what_is_resource_map" class="wikilink1" title="en:introduction:what_is_resource_map">What is Resource Map?</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:introduction:how_does_it_work" class="wikilink1" title="en:introduction:how_does_it_work">How does it work?</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:introduction:what_can_i_use_it_for" class="wikilink1" title="en:introduction:what_can_i_use_it_for">What can I use it for?</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:introduction:why_use_resource_map" class="wikilink1" title="en:introduction:why_use_resource_map">Why use Resource Map?</a></div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "I- INTRODUCTION" [37-333] -->
<h2 class="sectionedit3" id="ii-_resource_map_website">II- RESOURCE MAP WEBSITE</h2>
<div class="level2">

</div>
<!-- EDIT3 SECTION "II- RESOURCE MAP WEBSITE" [334-370] -->
<h3 class="sectionedit4" id="getting_started">1. Getting Started</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li">   <a href="/resourcemap/doku.php?id=en:dyrmwebsite:dynamic_resource_map_page" class="wikilink1" title="en:dyrmwebsite:dynamic_resource_map_page">Resource Map Website</a></div>
</li>
<li class="level1"><div class="li">   <a href="/resourcemap/doku.php?id=en:dyrmwebsite:sign_up" class="wikilink1" title="en:dyrmwebsite:sign_up">Sign Up</a></div>
</li>
<li class="level1"><div class="li">   <a href="/resourcemap/doku.php?id=en:dyrmwebsite:top_menu" class="wikilink2" title="en:dyrmwebsite:top_menu" rel="nofollow">Resource Map Menu</a></div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "1. Getting Started" [371-562] -->
<h3 class="sectionedit5" id="layer_management">2. Layer Management</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:adding_new_layer" class="wikilink2" title="en:dyrmwebsite:adding_new_layer" rel="nofollow">Creating New Layer in Resource Map</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:edit_layer_in_resource_map" class="wikilink2" title="en:dyrmwebsite:edit_layer_in_resource_map" rel="nofollow">Edit Layer in Resource Map</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:delete_your_layer_s" class="wikilink2" title="en:dyrmwebsite:delete_your_layer_s" rel="nofollow">Delete Layer in Resource Map</a></div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "2. Layer Management" [563-790] -->
<h3 class="sectionedit6" id="manage_sites_in_layer">3. Manage Sites in Layer</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:define_field_for_layer" class="wikilink2" title="en:dyrmwebsite:define_field_for_layer" rel="nofollow">Define Field for Layer</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:add_new_sites_to_layer" class="wikilink2" title="en:dyrmwebsite:add_new_sites_to_layer" rel="nofollow">Add New Sites to Layer</a></div>
<ul>
<li class="level2"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:add_new_site_to_layer" class="wikilink2" title="en:dyrmwebsite:add_new_site_to_layer" rel="nofollow">Add New Site to Layer</a></div>
</li>
<li class="level2"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:upload_new_sites_to_layer" class="wikilink2" title="en:dyrmwebsite:upload_new_sites_to_layer" rel="nofollow">Upload New Sites to Layer</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:threshold_setting" class="wikilink2" title="en:dyrmwebsite:threshold_setting" rel="nofollow">Setting Site Alert</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:searching_the_sites" class="wikilink2" title="en:dyrmwebsite:searching_the_sites" rel="nofollow">Searching The Sites</a></div>
<ul>
<li class="level2"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:searching_for_last_update_sites" class="wikilink2" title="en:dyrmwebsite:searching_for_last_update_sites" rel="nofollow">Searching For Last Update Sites</a></div>
</li>
<li class="level2"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:conditional_sites_searching" class="wikilink2" title="en:dyrmwebsite:conditional_sites_searching" rel="nofollow">Conditional Sites Searching</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:edit_site_s_information" class="wikilink2" title="en:dyrmwebsite:edit_site_s_information" rel="nofollow">Edit Site&#039;s information</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:view_and_download_historical_data" class="wikilink2" title="en:dyrmwebsite:view_and_download_historical_data" rel="nofollow">View and Download Historical Data</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:download_data_to_excel_csv" class="wikilink2" title="en:dyrmwebsite:download_data_to_excel_csv" rel="nofollow">Download Data to Excel CSV</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:delete_field_form_layer" class="wikilink2" title="en:dyrmwebsite:delete_field_form_layer" rel="nofollow">Delete Field form Layer</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:delete_site_from_layer" class="wikilink2" title="en:dyrmwebsite:delete_site_from_layer" rel="nofollow">Delete Site from Layer</a></div>
</li>
</ol>

</div>
<!-- EDIT6 SECTION "3. Manage Sites in Layer" [791-1473] -->
<h3 class="sectionedit7" id="manage_member_in_a_layer">4. Manage member in a layer</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:add_member_to_a_layer" class="wikilink2" title="en:dyrmwebsite:add_member_to_a_layer" rel="nofollow">Add New Member</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:add_existing_member_to_the_layer" class="wikilink2" title="en:dyrmwebsite:add_existing_member_to_the_layer" rel="nofollow">Add Existing Member</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:add_site_ownership" class="wikilink2" title="en:dyrmwebsite:add_site_ownership" rel="nofollow">Add Site Ownership</a></div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "4. Manage member in a layer" [1474-1689] -->
<h3 class="sectionedit8" id="manage_data_in_the_layer">Manage Data in the Layer</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:import_data_from_csv_file" class="wikilink2" title="en:dyrmwebsite:import_data_from_csv_file" rel="nofollow">Import data from CSV file</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:add_new_record_via_online" class="wikilink2" title="en:dyrmwebsite:add_new_record_via_online" rel="nofollow">Add New Resource via online</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:export_data_from_your_layer" class="wikilink2" title="en:dyrmwebsite:export_data_from_your_layer" rel="nofollow">Export data from your layer</a></div>
</li>
</ul>

</div>
<!-- EDIT8 SECTION "Manage Data in the Layer" [1690-1900] -->
<h3 class="sectionedit9" id="delete_layer_s_variable">Delete layer’s variable</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:delete_layer_s_variable" class="wikilink2" title="en:dyrmwebsite:delete_layer_s_variable" rel="nofollow">Delete layer’s variable</a></div>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "Delete layer’s variable" [1901-1985] -->
<h3 class="sectionedit10" id="edit_variable_s_name_in_the_layer">Edit variable’s name in the layer</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmwebsite:edit_variable_s_name_in_the_layer" class="wikilink2" title="en:dyrmwebsite:edit_variable_s_name_in_the_layer" rel="nofollow">Edit variable&#039;s name in the layer</a></div>
</li>
</ul>

</div>
<!-- EDIT10 SECTION "Edit variable’s name in the layer" [1986-2091] -->
<h2 class="sectionedit11" id="iii-_dynamic_resource_map_with_cell_phone">III- Dynamic Resource Map with cell phone</h2>
<div class="level2">

</div>
<!-- EDIT11 SECTION "III- Dynamic Resource Map with cell phone" [2092-2143] -->
<h3 class="sectionedit12" id="updating_your_resource">1. Updating your resource</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmcellphone:update_your_resource_via_your_cell_phone" class="wikilink2" title="en:dyrmcellphone:update_your_resource_via_your_cell_phone" rel="nofollow">Update your resource via your cell phone</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmcellphone:update_your_resource_via_your_cell_phone_in_playground" class="wikilink2" title="en:dyrmcellphone:update_your_resource_via_your_cell_phone_in_playground" rel="nofollow">Update your resource via your cell phone in playground</a></div>
</li>
</ul>

</div>
<!-- EDIT12 SECTION "1. Updating your resource" [2144-2324] -->
<h3 class="sectionedit13" id="querying_your_resource">2. Querying your resource</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmcellphone:querying_your_resource_via_your_cell_phone" class="wikilink2" title="en:dyrmcellphone:querying_your_resource_via_your_cell_phone" rel="nofollow">Querying your resource via your cell phone</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmcellphone:querying_your_resource_via_your_cell_phone_in_playground" class="wikilink2" title="en:dyrmcellphone:querying_your_resource_via_your_cell_phone_in_playground" rel="nofollow">Querying your resource via your cell phone in playground</a></div>
</li>
</ul>

</div>
<!-- EDIT13 SECTION "2. Querying your resource" [2325-2509] -->
<h3 class="sectionedit14" id="adding_new_resources_via_resource_map_-_odk">3. Adding new resources via Resource Map - ODK</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmodk:download_and_configure_resource_map-odk_with_resource_map_website" class="wikilink2" title="en:dyrmodk:download_and_configure_resource_map-odk_with_resource_map_website" rel="nofollow">download and configure resource map-ODK with resource map website</a></div>
</li>
<li class="level1"><div class="li"> <a href="/resourcemap/doku.php?id=en:dyrmodk:adding_new_resources_via_resource_map-odk" class="wikilink2" title="en:dyrmodk:adding_new_resources_via_resource_map-odk" rel="nofollow">Adding new resources via Resource Map-ODK</a></div>
</li>
</ul>

</div>
<!-- EDIT14 SECTION "3. Adding new resources via Resource Map - ODK" [2510-] -->