
<h1 class="sectionedit1" id="what_is_verboice">What is Verboice?</h1>
<div class="level1">

<p>
<strong>Listen and response to the voice of your community.</strong>
</p>

<p>
<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_is_verboice&amp;media=en:introduction:verboice.png" class="media" title="en:introduction:verboice.png"><img src="/help/lib/exe/fetch.php?w=300&amp;tok=f07243&amp;media=en:introduction:verboice.png" class="medialeft" alt="" width="300" /></a>Voice is the most universal and inclusive means of communication, and it&#039;s an ideal way to expand the reach and impact of health and humanitarian technologies. Verboice is a free and open-source tool that makes it easy for anyone to create and run projects that interact via voice, allowing your users to listen and record messages in their own language and dialect or answer questions with a phone keypad. Verboice projects can start small and scale up, making it possible to improve lives even in communities previously closed off by literacy and technological barriers.
</p>

</div>
