
<h1 class="sectionedit1" id="create_custom_channel">Create Custom channel</h1>
<div class="level1">

<p>
Custom channel will create a channel on Verboice without rely on other phone system.
</p>
<ol>
<li class="level1"><div class="li"> Click on drop down list and choose <strong>“Custom channel”</strong><br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbchannel%3Acreatecustomchannel&amp;media=en:vbchannel:vb_going_to_create_custom_channel.png" class="media" title="en:vbchannel:vb_going_to_create_custom_channel.png"><img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_going_to_create_custom_channel.png" class="media" alt="" /></a><br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
<ul>
<li class="level2"><div class="li"> <strong>Name</strong>: is the name channel</div>
</li>
<li class="level2"><div class="li"> <strong>Call flow</strong>: is a call flow in the project you would like the caller to go through when he/she call to you Callcentric number.</div>
</li>
<li class="level2"><div class="li"> <strong>Dial string</strong>: normally the value of it is sip/{number}</div>
</li>
<li class="level2"><div class="li"> <strong>Limit</strong>: is the number of user on call.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> to finish<br/>
 <img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_custom_channel.png" class="mediacenter" alt="" /></div>
</li>
</ol>

</div>
