
<h1 class="sectionedit1" id="delete_reminder_schedule">Delete Reminder Schedule</h1>
<div class="level1">

<p>
After the reminder schedule has been created, you also can edit it.
</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbreminderschedule%3Adeletereminderschedule&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to edit reminder schedule.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Reminder schedule”</strong> tab. </div>
</li>
<li class="level1"><div class="li"> Click on delete button of the reminder schedule that you want to delete. </div>
</li>
<li class="level1"><div class="li"> Click button <strong>OK</strong> to confirm deleting.</div>
</li>
</ol>
<div class="thumb2 trien" style="width:910px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?w=900&amp;tok=06cb0f&amp;media=en:vbreminderschedule:vb_delete_reminder_schedule.png" class="mediabox2" alt="" width="900" /><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/help/lib/exe/detail.php?id=en%3Avbreminderschedule%3Adeletereminderschedule&amp;media=en:vbreminderschedule:vb_delete_reminder_schedule.png"><img width="15" height="11" alt="" src="/help/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot showing that we want to delete the reminder schedule for Loy9 Group.</div></div></div>
</div>
