
<h1 class="sectionedit1" id="table_of_contents">TABLE OF CONTENTS</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "TABLE OF CONTENTS" [2-36] -->
<h2 class="sectionedit2" id="i-_introduction">I- INTRODUCTION</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:introduction:what_is_verboice" class="wikilink1" title="en:introduction:what_is_verboice">What is Verboice?</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:introduction:how_does_it_work" class="wikilink1" title="en:introduction:how_does_it_work">How does it work?</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:introduction:what_can_i_use_it_for" class="wikilink1" title="en:introduction:what_can_i_use_it_for">What can I use it for?</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:introduction:why_use_verboice" class="wikilink1" title="en:introduction:why_use_verboice">Why use Verboice?</a></div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "I- INTRODUCTION" [37-316] -->
<h2 class="sectionedit3" id="ii-_verboice_website">II- VERBOICE WEBSITE</h2>
<div class="level2">

</div>
<!-- EDIT3 SECTION "II- VERBOICE WEBSITE" [317-349] -->
<h3 class="sectionedit4" id="getting_start">1- Getting Start</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:verboicewebsite:verboice_website" class="wikilink1" title="en:verboicewebsite:verboice_website">Verboice Website</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:verboicewebsite:sign_up" class="wikilink1" title="en:verboicewebsite:sign_up">Sign Up</a></div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "1- Getting Start" [350-479] -->
<h3 class="sectionedit5" id="project_management">2- Project Management</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbproject:create_a_new_project" class="wikilink1" title="en:vbproject:create_a_new_project">Create a New Project</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbproject:edit_project" class="wikilink1" title="en:vbproject:edit_project">Edit Project</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbproject:delete_project" class="wikilink1" title="en:vbproject:delete_project">Delete Project</a></div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "2- Project Management" [480-671] -->
<h3 class="sectionedit6" id="project_call_flow_management">3- Project Call Flow Management</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallflow:create_a_new_project_call_flows" class="wikilink1" title="en:vbprojectcallflow:create_a_new_project_call_flows">Create a New Project Call Flows</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallflow:edit_project_call_flow" class="wikilink1" title="en:vbprojectcallflow:edit_project_call_flow">Edit Project Call Flow</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallflow:delete_project_call_flow" class="wikilink1" title="en:vbprojectcallflow:delete_project_call_flow">Delete Project Call Flow</a></div>
</li>
</ol>

</div>
<!-- EDIT6 SECTION "3- Project Call Flow Management" [672-960] -->
<h3 class="sectionedit7" id="project_call_step_management">4- Project Call Step Management</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstep:create_a_new_project_call_step" class="wikilink1" title="en:vbprojectcallstep:create_a_new_project_call_step">Create a New Project Call Step</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:controls_description" class="wikilink1" title="en:vbprojectcallstepcontrol:controls_description">Understanding the controls in Verboice</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_controls" class="wikilink1" title="en:vbprojectcallstepcontrol:using_controls">Using Controls in Verboice</a></div>
<ol>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_play_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_play_control">How to use &quot;Play&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_menu_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_menu_control">How to use &quot;Menu&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_input_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_input_control">How to use &quot;Input&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_forward_call_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_forward_call_control">How to use &quot;Forward Call&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_link_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_link_control">How to use &quot;Link&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_branches_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_branches_control">How to use &quot;Branches&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_hang_up_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_hang_up_control">How to use &quot;Hang Up&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_record_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_record_control">How to use &quot;Record&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_date_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_date_control">How to use &quot;Date&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_register_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_register_control">How to use &quot;Register&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_deregister_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_deregister_control">How to use &quot;Deregister&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_detect_language_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_detect_language_control">How to use &quot;Detect Language&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_mark_as_failed_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_mark_as_failed_control">How to use &quot;Mark as failed&quot; control</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_mark_as_successful_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_mark_as_successful_control">How to use &quot;Mark as successful&quot; control</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbeditcontrol:edit_controls" class="wikilink1" title="en:vbeditcontrol:edit_controls">Edit Controls in Verboice</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbdeletepcontrol:delete_controls" class="wikilink1" title="en:vbdeletepcontrol:delete_controls">Delete Controls in Verboice</a></div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "4- Project Call Step Management" [961-2706] -->
<h3 class="sectionedit8" id="channel_management">5- Channel Management</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbchanel:createchannel" class="wikilink1" title="en:vbchanel:createchannel">Create a Channel in Verboice</a></div>
<ol>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:createcallcentricchannel" class="wikilink1" title="en:vbchannel:createcallcentricchannel">Create Callcentric channel</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:createcustomchannel" class="wikilink1" title="en:vbchannel:createcustomchannel">Create Custom channel</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:createsipchannel" class="wikilink1" title="en:vbchannel:createsipchannel">Create Sip channel</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:createskypechannel" class="wikilink1" title="en:vbchannel:createskypechannel">Create Skype channel</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:createtwiliochannel" class="wikilink1" title="en:vbchannel:createtwiliochannel">Create Twilio channel</a></div>
</li>
<li class="level2"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:createvoxeochannel" class="wikilink1" title="en:vbchannel:createvoxeochannel">Create Voxeo channel</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:editchannel" class="wikilink1" title="en:vbchannel:editchannel">Edit Channel in Verboice</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbchannel:deletechannel" class="wikilink1" title="en:vbchannel:deletechannel">Delete Channel in Verboice</a></div>
</li>
</ol>

</div>
<!-- EDIT8 SECTION "5- Channel Management" [2707-3310] -->
<h3 class="sectionedit9" id="setting_up_testing_channel_by_using_callcentric">6- Setting up Testing Channel By Using Callcentric</h3>
<div class="level3">

<p>
<span style='color:darkblue; '>“The below instruction is showing how to setup Verboice channel by using callcentric channel.”</span>
</p>
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbmakecall:how_to_create_callcentric_account" class="wikilink1" title="en:vbmakecall:how_to_create_callcentric_account">STEP 1: Create Callcentric Account</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbmakecall:configure_callcentric_with_verboice_channel" class="wikilink1" title="en:vbmakecall:configure_callcentric_with_verboice_channel">STEP 2: Configure Callcentric with Verboice Channel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbmakecall:makecall" class="wikilink1" title="en:vbmakecall:makecall">STEP 3: Setup Softphone by using X-Lite</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbmakecall:configure_x-lite_with_callcentric" class="wikilink1" title="en:vbmakecall:configure_x-lite_with_callcentric">STEP 4: Configure X-Lite with Callcenric</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbmakecall:calling_from_x-lite_to_verboice" class="wikilink1" title="en:vbmakecall:calling_from_x-lite_to_verboice">STEP 5: Calling from X-Lite to Verboice</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbmakecall:video_of_setting_up_testing_channel_by_using_callcentric" class="wikilink1" title="en:vbmakecall:video_of_setting_up_testing_channel_by_using_callcentric">Video of Setting up Testing Channel By Using Callcentric</a></div>
</li>
</ol>

</div>
<!-- EDIT9 SECTION "6- Setting up Testing Channel By Using Callcentric" [3311-4095] -->
<h3 class="sectionedit10" id="view_project_call_log">7- View Project  Call Log</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbviewcalllog:viewcalllog" class="wikilink1" title="en:vbviewcalllog:viewcalllog">View Project  Call Log</a></div>
</li>
</ul>

</div>
<!-- EDIT10 SECTION "7- View Project  Call Log" [4096-4192] -->
<h3 class="sectionedit11" id="verboice_phone_book">8- Verboice Phone Book</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbphonebook:phonebook" class="wikilink1" title="en:vbphonebook:phonebook">Verboice Phone Book</a></div>
</li>
</ul>

</div>
<!-- EDIT11 SECTION "8- Verboice Phone Book" [4193-4279] -->
<h3 class="sectionedit12" id="verboice_reminder_group">9- Verboice Reminder Group</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbremindergroup:createremindergroup" class="wikilink1" title="en:vbremindergroup:createremindergroup">Create Reminder Group</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbremindergroup:editremindergroup" class="wikilink1" title="en:vbremindergroup:editremindergroup">Edit Reminder Group</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbremindergroup:deleteremindergroup" class="wikilink1" title="en:vbremindergroup:deleteremindergroup">Delete Reminder Group</a></div>
</li>
</ol>

</div>
<!-- EDIT12 SECTION "9- Verboice Reminder Group" [4280-4520] -->
<h3 class="sectionedit13" id="reminder_schedule">10- Reminder Schedule</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbreminderschedule:createreminderschedule" class="wikilink1" title="en:vbreminderschedule:createreminderschedule">Create Reminder Schedule</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbreminderschedule:editreminderschedule" class="wikilink1" title="en:vbreminderschedule:editreminderschedule">Edit Reminder Schedule</a></div>
</li>
<li class="level1"><div class="li"> <a href="/verboice/doku.php?id=en:vbreminderschedule:deletereminderschedule" class="wikilink1" title="en:vbreminderschedule:deletereminderschedule">Delete Reminder Schedule</a></div>
</li>
</ol>

</div>
<!-- EDIT13 SECTION "10- Reminder Schedule" [4521-] -->