
<h1 class="sectionedit1" id="sign_up">Sign Up</h1>
<div class="level1">

<p>
To start using Verboice application, the first thing you need to do is sign up your account on the system.
</p>
<ol>
<li class="level1"><div class="li"> Go to Verboice website: <a href="http://verboice-cambodia.instedd.org" class="urlextern" title="http://verboice-cambodia.instedd.org"  rel="nofollow">http://verboice-cambodia.instedd.org</a></div>
</li>
<li class="level1"><div class="li"> Click on <strong><a href="http://verboice-cambodia.instedd.org/accounts/sign_up" class="urlextern" title="http://verboice-cambodia.instedd.org/accounts/sign_up"  rel="nofollow">Create Account</a></strong> on the top-right corner or click on button <strong><a href="http://verboice-cambodia.instedd.org/accounts/sign_up" class="urlextern" title="http://verboice-cambodia.instedd.org/accounts/sign_up"  rel="nofollow">Create an account</a></strong> at the bottom-left corner.<br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow: <br/>
</div>
<ul>
<li class="level3"><div class="li"> <strong>Email</strong>: Fill in the email that you&#039;re going to use for Resource Map. This field is require and you&#039;ll use this email for log in.</div>
</li>
<li class="level3"><div class="li"> <strong>Password</strong>: Type the password for log in.</div>
</li>
<li class="level3"><div class="li"> <strong>Password confirmation</strong>: Type the password again.</div>
</li>
<li class="level3"><div class="li"> <strong>Phone number</strong>: Fill in your phone number including country code. This phone number will be use for update or query the data from of the site in Resource Map. This field is optional.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click on button <strong>Create account</strong>.<br/>
<div class="thumb2 trien" style="width:auto"><div class="thumbinner">Invalid Link<div class="thumbcaption">In this screenshot, the user is going to sign up with Resource Map with email: anyonkh@gmail.com and phone number 85517989822</div></div></div>
<p>
 <br/>

</p>
</div>
</li>
</ol>

</div>
