
<h1 class="sectionedit1" id="create_reminder_schedule">Create Reminder Schedule</h1>
<div class="level1">

<p>
Reminder Schedule is used to set schedule call to people in the reminder group.<br/>

</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbreminderschedule%3Acreatereminderschedule&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to create reminder schedule.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Reminder Schedule”</strong> tab.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbreminderschedule:vb_going_to_reminder_schedule.png" class="media" alt="" /><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> The list of reminder schedule will be appeared. Click on button <strong>“New reminder schedule”</strong> to create new reminder schedule.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbreminderschedule:vb_creating_new_reminder_schedule.png" class="media" alt="" /><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the information as below:</div>
<ul>
<li class="level3"><div class="li"> <strong>Reminder group</strong>: click on drop down box and choose the <a href="/help/doku.php?id=en:vbremindergroup:createremindergroup" class="wikilink1" title="en:vbremindergroup:createremindergroup">reminder group</a> you have create that you want to remind to.</div>
</li>
<li class="level3"><div class="li"> <strong>Channel</strong>: click on drop down box and choose the channel that you want to use for reminder schedule.</div>
</li>
<li class="level3"><div class="li"> <strong>Call flow</strong>: click on drop down box and choose the call flow. The system will play call flow you selected when remind to people.</div>
</li>
<li class="level3"><div class="li"> <strong>Start on</strong>: click on the box and set the date for starting remind to people.</div>
</li>
<li class="level3"><div class="li"> <strong>Call time</strong>: for set the time for the system to call people. Fill in the starting time in box <strong>From</strong> and ending time in <strong>To</strong>.</div>
</li>
<li class="level3"><div class="li">  <strong>Repeat</strong>: choose <span style='color:darkred; '><strong>OFF</strong></span> if you don&#039;t want to repeat your schedule. To repeat the reminder schedule, choose <span style='color:darkgreen; '><strong>ON</strong></span> and configure as below:</div>
<ul>
<li class="level5"><div class="li"> Click on day to repeat your reminder schedule. The day will be checked and turn to green color.</div>
</li>
<li class="level5"><div class="li"> Type the recurrance <strong>Every</strong> number of week pattern to tell to the system to repeat.</div>
</li>
</ul>
</li>
<li class="level3"><div class="li"> <strong>Conditions</strong>: click on button ( <img src="/help/lib/exe/fetch.php?media=en:verboicewebsite:vb_add_button.png" class="media" alt="" /> ) to add the condition for your reminder. The system will remind to the people if the condition is matched.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong></div>
</li>
</ol>
<div class="thumb2 trien" style="width:910px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?w=900&amp;tok=09a3c4&amp;media=en:vbreminderschedule:vb_reminder_schedule.png" class="mediabox2" alt="" width="900" /><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/help/lib/exe/detail.php?id=en%3Avbreminderschedule%3Acreatereminderschedule&amp;media=en:vbreminderschedule:vb_reminder_schedule.png"><img width="15" height="11" alt="" src="/help/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot showing that, the reminder schedule will be created to remind to all people in group <strong>Lay9 Grop</strong> every 1 week on Friday. This reminder schedule active from <strong>3 July 2013</strong> on by using <strong>smart</strong> channel. </div></div></div>
</div>
