
<h1 class="sectionedit1" id="sign_up">Sign Up</h1>
<div class="level1">

<p>
To start using Verboice application, the first thing you need to do is sign up your account on the system.
</p>
<ol>
<li class="level1"><div class="li"> Go to Verboice website: <a href="http://verboice-cambodia.instedd.org" class="urlextern" title="http://verboice-cambodia.instedd.org"  rel="nofollow">http://verboice-cambodia.instedd.org</a></div>
</li>
<li class="level1"><div class="li"> Click on <strong><a href="http://verboice-cambodia.instedd.org/accounts/sign_up" class="urlextern" title="http://verboice-cambodia.instedd.org/accounts/sign_up"  rel="nofollow">Create Account</a></strong> on the top-right corner or click on button <strong><a href="http://verboice-cambodia.instedd.org/accounts/sign_up" class="urlextern" title="http://verboice-cambodia.instedd.org/accounts/sign_up"  rel="nofollow">Create an account</a></strong> at the bottom-left corner.<br/>
<br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Averboicewebsite%3Asign_up&amp;media=en:verboicewebsite:verboice_sign_up.png" class="media" title="en:verboicewebsite:verboice_sign_up.png"><img src="/verboice/lib/exe/fetch.php?w=850&amp;tok=4cfe72&amp;media=en:verboicewebsite:verboice_sign_up.png" class="mediacenter" alt="" width="850" /></a> <br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow: <br/>
</div>
<ul>
<li class="level3"><div class="li"> <strong>Email</strong>: Fill in the email that you&#039;re going to use for Resource Map. This field is require and you&#039;ll use this email for log in.</div>
</li>
<li class="level3"><div class="li"> <strong>Password</strong>: Type the password for log in. The password must be at less 6 characters.</div>
</li>
<li class="level3"><div class="li"> <strong>Password confirmation</strong>: Type the password again.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click on button <strong>Sign up</strong> after you complete the form.<br/>
<br/>
<div class="thumb2 tcenter" style="width:299px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Averboicewebsite%3Asign_up&amp;media=en:verboicewebsite:verboice_sign_up_info.png" class="media" title="en:verboicewebsite:verboice_sign_up_info.png"><img src="/verboice/lib/exe/fetch.php?media=en:verboicewebsite:verboice_sign_up_info.png" class="mediabox2" alt="" /></a><div class="thumbcaption">In this screenshot, the user is going to sign up with Verboice with email: anyonkh@gmail.com</div></div></div>
<p>
<br/>

</p>
</div>
</li>
</ol>

<p>
You will receive the confirmation of created account in the email that you provided in the form. The next step to do is verify your account before you can login to the system. <br/>

To verify account, first sign in to your email and then open your inbox to see the mail from Verboice. In the email content you will see the instruction to verify your account by clicking <strong>Confirm my account</strong> button that provided in the email. <br/>
<br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Averboicewebsite%3Asign_up&amp;media=en:verboicewebsite:verboice_sign_up_email_confirmation.png" class="media" title="en:verboicewebsite:verboice_sign_up_email_confirmation.png"><img src="/verboice/lib/exe/fetch.php?media=en:verboicewebsite:verboice_sign_up_email_confirmation.png" class="mediacenter" alt="" /></a>
<br/>

Verboice system will automatically open with new browser window and also automatically log in with email and password you have filled in during sign up.<br/>
<br/>

</p>

<p>
User can click on <a href="http://verboice-cambodia.instedd.org/accounts/sign_in" class="urlextern" title="http://verboice-cambodia.instedd.org/accounts/sign_in"  rel="nofollow">Log in</a> to redirect to login page. You will see the form to log in to the system like shown below:<br/>
 <br/>

<a href="/verboice/lib/exe/detail.php?id=en%3Averboicewebsite%3Asign_up&amp;media=en:verboicewebsite:verboice_log_in.png" class="media" title="en:verboicewebsite:verboice_log_in.png"><img src="/verboice/lib/exe/fetch.php?media=en:verboicewebsite:verboice_log_in.png" class="mediacenter" alt="" /></a><br/>

Fill the email and password that you registered and click Log In button to log in to the system.
</p>

</div>
