
<h1 class="sectionedit1" id="create_reminder_group">Create Reminder Group</h1>
<div class="level1">

<p>
In Verbice, the user can do reminder to enable system to call back to the caller at a specific time and condition you want. But before create reminder user have to create reminder group first. Below is the instruction show how to create reminder group in Verboice.<br/>

</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbremindergroup%3Acreateremindergroup&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to create reminder group.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Reminder Group”</strong> tab.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbremindergroup:vb_going_to_reminder_group.png" class="media" alt="" /><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> The list of reminder group will be appeared. Click on button <strong>“New reminder group”</strong> to create new reminder group.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbremindergroup:vb_creating_new_reminder_group.png" class="media" alt="" /><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the reminder group in text box <strong>Name</strong> and the phone number of the people that you&#039;re going to remind in text box <strong>Contact</strong>. </div>
</li>
<li class="level1"><div class="li"> Click button ( <img src="/help/lib/exe/fetch.php?media=en:verboicewebsite:vb_add_button.png" class="media" alt="" /> ) to add people phone number to reminder group.<br/>
<div class="thumb2 trien" style="width:860px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?w=850&amp;tok=763e1f&amp;media=en:vbremindergroup:vb_creating_new_reminder_group1.png" class="mediabox2" alt="" width="850" /><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/help/lib/exe/detail.php?id=en%3Avbremindergroup%3Acreateremindergroup&amp;media=en:vbremindergroup:vb_creating_new_reminder_group1.png"><img width="15" height="11" alt="" src="/help/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that the phone number <strong>017989822</strong> will be added to reminder group <strong>Pregnancy</strong>.</div></div></div>
<p>
<br/>
Fill in phone number and click add button for adding more phone number to your reminder group. <br/>
<br/>

</p>
</div>
</li>
<li class="level1"><div class="li"> Click button <strong>“Save”</strong> to create reminder group.</div>
</li>
</ol>

</div>
