
<h1 class="sectionedit1" id="understanding_the_controls_in_verboice">Understanding the controls in Verboice</h1>
<div class="level1">

<p>
We should understand clear the used of control in Verboice before starting designing call flow. Below is the description of control in Verboice.<br/>
<br/>

<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_play_control" class="media" title="en:vbprojectcallstepcontrol:using_play_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=8a9673&amp;media=en:vbprojectcallstepcontrol:vb_play_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Play</strong> control. It&#039;s used to play an audio file like welcome message or explaination.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_menu_control" class="media" title="en:vbprojectcallstepcontrol:using_menu_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=f4a868&amp;media=en:vbprojectcallstepcontrol:vb_menu_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Menu</strong> control. It&#039;s used to create an option for user to select. For example Press 1 to answer the question and Press 2 to exit. <br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_input_control" class="media" title="en:vbprojectcallstepcontrol:using_input_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=0647a2&amp;media=en:vbprojectcallstepcontrol:vb_input_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Input</strong> control. It&#039;s used to get the data input from user in the call flow. Example the system asks you to input your age to the system. <br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_forward_call_control" class="media" title="en:vbprojectcallstepcontrol:using_forward_call_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=aa1be1&amp;media=en:vbprojectcallstepcontrol:vb_forward_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Forward Call</strong> control. It&#039;s used to forward a call to another number. <br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_link_control" class="media" title="en:vbprojectcallstepcontrol:using_link_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=302f33&amp;media=en:vbprojectcallstepcontrol:vb_link_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Link</strong> control. It&#039;s used to links from one step to another step inside call flow.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_branches_control" class="media" title="en:vbprojectcallstepcontrol:using_branches_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=ef79d0&amp;media=en:vbprojectcallstepcontrol:vb_branch_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Branch</strong> control. It&#039;s used to make branches and send the caller to one call branch based on pre-defined condition(s).<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_hang_up_control" class="media" title="en:vbprojectcallstepcontrol:using_hang_up_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=051a26&amp;media=en:vbprojectcallstepcontrol:vb_hangup_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Hang Up</strong> control. It&#039;s used to terminate call.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_record_control" class="media" title="en:vbprojectcallstepcontrol:using_record_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=a2ba07&amp;media=en:vbprojectcallstepcontrol:vb_audio_record_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Audio Record</strong> control. It&#039;s used to record user voice message into the system.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_date_control" class="media" title="en:vbprojectcallstepcontrol:using_date_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=663d13&amp;media=en:vbprojectcallstepcontrol:vb_date_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Date</strong> control. It&#039;s used to store the user date input into the system.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_register_control" class="media" title="en:vbprojectcallstepcontrol:using_register_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=ca6f9f&amp;media=en:vbprojectcallstepcontrol:vb_register_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Register</strong> control. It&#039;s used to register user phone number into reminder group for remind back to the caller later.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_deregister_control" class="media" title="en:vbprojectcallstepcontrol:using_deregister_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=8a5f07&amp;media=en:vbprojectcallstepcontrol:vb_deregister_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Deregister</strong> control. It&#039;s used to  unregistered user phone number from reminder group.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_detect_language_control" class="media" title="en:vbprojectcallstepcontrol:using_detect_language_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=9b7301&amp;media=en:vbprojectcallstepcontrol:vb_detech_language_control.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Detect Language</strong> control. It&#039;s used to provide language selection when your project supports multiple languages.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_mark_as_failed_control" class="media" title="en:vbprojectcallstepcontrol:using_mark_as_failed_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=0e72d5&amp;media=en:vbprojectcallstepcontrol:vb_mark_as_failed.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Mark as failed</strong> control. It&#039;s used to mark the user call as failed.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_mark_as_successful_control" class="media" title="en:vbprojectcallstepcontrol:using_mark_as_successful_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=259e46&amp;media=en:vbprojectcallstepcontrol:vb_mark_as_success.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Mark as success</strong> control. It&#039;s used to mark the caller as successful.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_call_back_control" class="media" title="en:vbprojectcallstepcontrol:using_call_back_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=3b5712&amp;media=en:vbprojectcallstepcontrol:vb_control_call_back.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Call Back</strong> control. It&#039;s used to call back to the caller immediately after hang up.<br/>

</p>

<p>
<a href="/help/doku.php?id=en:vbprojectcallstepcontrol:using_send_sms_control" class="media" title="en:vbprojectcallstepcontrol:using_send_sms_control"><img src="/help/lib/exe/fetch.php?w=50&amp;tok=61871e&amp;media=en:vbprojectcallstepcontrol:vb_control_send_sms.png" class="media" alt="" width="50" /></a> <strong>:</strong> This is <strong>Send SMS</strong> control. It&#039;s used to send the text message to the caller.<br/>

</p>

</div>
