
<h1 class="sectionedit1" id="step_2configure_callcentric_with_verboice_channel">STEP 2: Configure Callcentric with Verboice Channel</h1>
<div class="level1">

<p>
To create Verboice Callcentric channel please click <a href="/verboice/doku.php?id=en:vbchannel:createcallcentricchannel" class="wikilink1" title="en:vbchannel:createcallcentricchannel">here</a> and make sure that the username and password is SIP username and SIP password of Callcentric as in the screenshot bellow:<br/>
<br/>

<img src="/verboice/lib/exe/fetch.php?media=en:vbchannel:vb-configure-callcentric-with-verboice-callcentric-channel.png" class="mediacenter" alt="" /> <br/>

<br/>

Now the channel is successfully completed configure with Callcentric. Go to <a href="/verboice/doku.php?id=en:vbmakecall:makecall" class="wikilink1" title="en:vbmakecall:makecall">STEP 3 to learn how to setup soft phone by using X-Lite</a> to test call from your computer.
</p>

</div>
