
<h1 class="sectionedit1" id="create_callcentric_channel">Create Callcentric channel</h1>
<div class="level1">

<p>
Callcentric channel is the channel that the system will use <a href="http://www.callcentric.com/" class="urlextern" title="http://www.callcentric.com/"  rel="nofollow">Callcentric account</a> to receive and make a call.
</p>
<ol>
<li class="level1"><div class="li"> Click on drop down list and choose <strong>“Callcentric channel”</strong><br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
</li>
</ol>

</div>
