
<h1 class="sectionedit1" id="how_to_use_input_control">How to use &quot;Input&quot; control</h1>
<div class="level1">

<p>
Input control allows system to collect data from caller phone keypad input while on the call. 
</p>
<ul>
<li class="level1"><div class="li"> <strong>Instruction</strong> is a brief instruction of the required data that caller going to input.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <strong>Invalid</strong> is where you tell the caller why the data they input is invalid.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <strong>Attempts</strong> section sets how the system interact with the caller when caller did not select any choice by repeat the message from Options base on the number of configured attempt. After final attempt fails will allow you to create the next step if the caller failed to select any given choices.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <strong>Validation</strong> section is where you validate caller input data. This is the place where you define the rule to validate the data that the caller input. <strong>Input length from</strong> is the number of digit that you accept from the caller input. <strong>Valid values</strong> is a set of value that you expected from caller. You can also write regular expression to validate the input data too.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <strong>Finish on key</strong> to select the keypad button that tells the system to finish the step</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <strong>Store result as</strong> will store the caller input in a variable you have given in the text box. <br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_input_control&amp;media=en:vbprojectcallstepcontrol:vb_input_control_full_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_input_control_full_setting.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_input_control_full_setting.png" class="mediacenter" alt="" /></a></div>
</li>
</ul>

<p>
Click <strong>Save</strong> to finish.
</p>

</div>
