
<h1 class="sectionedit1" id="how_to_use_date_control">How to use &quot;Date&quot; control</h1>
<div class="level1">

<p>
This is Date control. It&#039;s used to store the user date input into the system. Verboice will calculate the input value to the pass date based on <strong>Unit</strong> you have selected. For example if the unit setting is day and when the user input is 15, it mean that 15 days ago.<br/>

Below is the setting for Date control.
</p>
<ul>
<li class="level1"><div class="li"> <strong>Instructions</strong>: is where you can explain the purpose to the user to input the date. Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_date_control&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the <strong>Instruction</strong> label and set the Instruction.</div>
</li>
<li class="level1"><div class="li"> <strong>Unit</strong>: There are 4 different unit that you can choose to setup for Date control.</div>
<ul>
<li class="level2"><div class="li"> <em>Day</em>: Verboice will record as number of day.</div>
</li>
<li class="level2"><div class="li"> <em>Week</em>: Verboice will record as number of week.</div>
</li>
<li class="level2"><div class="li"> <em>Month</em>: Verboice will record as number of month.</div>
</li>
<li class="level2"><div class="li"> <em>Year</em>: Verboice will record as number of year.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <strong>Input length</strong>: is the number of digit that allow caller to input. Input the number of digit on <strong>From</strong> text box and <strong>To</strong> text box. </div>
</li>
<li class="level1"><div class="li"> <strong>Finish on key</strong>: is the key to tell the system that the date input is finished (press by the caller). For example, you can instruct the caller to press # to stop the date input.</div>
</li>
<li class="level1"><div class="li"> <strong>Store this result as</strong>:is the variable for storing the voice record. Check and type the variable name in the text box.</div>
</li>
</ul>

<p>
Click button <strong>Save</strong> to save the Date control setting for your call flow.<br/>

</p>
<div class="thumb2 tcenter" style="width:310px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_date_control&amp;media=en:vbprojectcallstepcontrol:vb_date_control_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_date_control_setting.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_date_control_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot show that the system will receive input from the caller as number of week passed up to 2 digits and it&#039;ll store in variable <strong>number_of_week</strong>. To finish the input, caller have to type # sign.</div></div></div>
</div>
