
<h1 class="sectionedit1" id="verboice_150">Verboice 1.5.0</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #116: reminder schedule: can&#039;t save when there are many conditions</div>
</li>
<li class="level1"><div class="li"> #115: Interaction call does not work with callout schedule</div>
</li>
<li class="level1"><div class="li"> #114: Schedule continue to retry, even we receive the call,</div>
</li>
<li class="level1"><div class="li"> #113: Enqueue call problem with timezone</div>
</li>
<li class="level1"><div class="li"> #112: Number of retried calculation is wrong with schedule and retry</div>
</li>
<li class="level1"><div class="li"> #111: Export call flow with audio does not work well</div>
</li>
<li class="level1"><div class="li"> #110: Call log status should be “active” while calling</div>
</li>
<li class="level1"><div class="li"> #109: Play step: Text to Speech doesn&#039;t work.</div>
</li>
<li class="level1"><div class="li"> #108: Step mark as fail does not work</div>
</li>
<li class="level1"><div class="li"> #107: Advance search is not accurate</div>
</li>
<li class="level1"><div class="li"> #106: Reminder schedule sends duplicate records to queue</div>
</li>
<li class="level1"><div class="li"> #105: JavaScript Error while adding new number in phonebox</div>
</li>
<li class="level1"><div class="li"> #73: Download call logs with recorded messages</div>
</li>
<li class="level1"><div class="li"> #104: Error voice recording with 2 variables</div>
</li>
<li class="level1"><div class="li"> #103: Play step with resource online does now work</div>
</li>
<li class="level1"><div class="li"> #102: Called number prefix should not appear in call log</div>
</li>
<li class="level1"><div class="li"> #101: Date format is nor correct in phonebox</div>
</li>
<li class="level1"><div class="li"> #100: Voice recording does not work with silence</div>
</li>
<li class="level1"><div class="li"> #99: In the call log, we should change the header name from “State” to “Status”</div>
</li>
<li class="level1"><div class="li"> #98: Change call status to hangup</div>
</li>
<li class="level1"><div class="li"> #97: The call duration calculation does not work well when we rejected the call</div>
</li>
<li class="level1"><div class="li"> #96: Interaction problem with outgoing call</div>
</li>
<li class="level1"><div class="li"> #94: Save reminder schedule does not work</div>
</li>
<li class="level1"><div class="li"> #95: Date format of Date register and input date is not correct</div>
</li>
<li class="level1"><div class="li"> #93: Error while importing reminder group</div>
</li>
<li class="level1"><div class="li"> #92: Button “Download Call log along with voice recorded message” does not work</div>
</li>
<li class="level1"><div class="li"> #91: Optimize the message when downloading call log</div>
</li>
<li class="level1"><div class="li"> #90: Format date of Not before field is not correct</div>
</li>
<li class="level1"><div class="li"> #89: Optimize menu step</div>
</li>
<li class="level1"><div class="li"> #88: Hang up after uploading call flow</div>
</li>
<li class="level1"><div class="li"> #87: system hangup the call after the menu option</div>
</li>
<li class="level1"><div class="li"> #86: the steps register and deregister do not include in the caller interaction</div>
</li>
<li class="level1"><div class="li"> #85: link to Help does not work</div>
</li>
<li class="level1"><div class="li"> #84: Importing call flow does not work well</div>
</li>
<li class="level1"><div class="li"> #83: Optimize the registered date of step register</div>
</li>
<li class="level1"><div class="li"> #82: Upload call flow get error with language</div>
</li>
<li class="level1"><div class="li"> #81: Annotation - Button play does not work</div>
</li>
<li class="level1"><div class="li"> #80: Text to speech does not work with step input</div>
</li>
<li class="level1"><div class="li"> #70: Upload audio does not work when audio alrady existed</div>
</li>
<li class="level1"><div class="li"> #77: Play step does not work with the resource online</div>
</li>
<li class="level1"><div class="li"> #79: Problem of resource refference while imporing</div>
</li>
<li class="level1"><div class="li"> #42: Import workflow does not work with multi-language</div>
</li>
<li class="level1"><div class="li"> #76: Error while viewing project call log</div>
</li>
<li class="level1"><div class="li"> #75: Login fails when email starts or ends with space</div>
</li>
<li class="level1"><div class="li"> #74: Sign up confirmation does not redirect to the right url</div>
</li>
<li class="level1"><div class="li"> #66: Import call flow from another project does not work</div>
</li>
<li class="level1"><div class="li"> #71: Wrong unicode encoding in Trace.step_name</div>
</li>
<li class="level1"><div class="li"> #72: Show call history in of a contact</div>
</li>
<li class="level1"><div class="li"> #68: Need to have generate the interactive call for existing call</div>
</li>
<li class="level1"><div class="li"> #39: Need to have project name in the channel list</div>
</li>
<li class="level1"><div class="li"> #44: Product version display is incorrect</div>
</li>
<li class="level1"><div class="li"> #65: Need to have a column to store interactive call in call log</div>
</li>
<li class="level1"><div class="li"> #64: Refactoring AWS backup</div>
</li>
<li class="level1"><div class="li"> #57: Include record audio and annotation in the download as csv</div>
</li>
<li class="level1"><div class="li"> #60: Need to store the register date</div>
</li>
<li class="level1"><div class="li"> #54: Annotation localization</div>
</li>
<li class="level1"><div class="li"> #29: Connect verboice to CooTell</div>
</li>
<li class="level1"><div class="li"> #59: Migration data from single channel to multi channel</div>
</li>
<li class="level1"><div class="li"> #47: Cron Job reminder schedule filter by prefix</div>
</li>
<li class="level1"><div class="li"> #40: Possibility to select many channel in reminder schedule</div>
</li>
<li class="level1"><div class="li"> #49: Improve search in call logs</div>
</li>
<li class="level1"><div class="li"> #48: Improve call log status</div>
</li>
<li class="level1"><div class="li"> #46: Step SMS does not work</div>
</li>
<li class="level1"><div class="li"> #45: Need to have the information of number of retry in call log</div>
</li>
<li class="level1"><div class="li"> #50: Remove column Id and Queue from call logs</div>
</li>
<li class="level1"><div class="li"> #53: Make annotation with color</div>
</li>
<li class="level1"><div class="li"> #23: Problem of call duration</div>
</li>
<li class="level1"><div class="li"> #43: Display datetime according to project timezone</div>
</li>
<li class="level1"><div class="li"> #33: Add text description for recorded audio</div>
</li>
<li class="level1"><div class="li"> #34: Need to have phone prefix field for SIP channel</div>
</li>
</ul>

</div>
