
<h1 class="sectionedit1" id="verboice_phone_book">Verboice Phone Book</h1>
<div class="level1">

<p>
Phone Book will store information of caller who registers to get reminder from the system.  We also can add user to phone book manually. Below is the instruction how to add people to phone book manually.
</p>
<ol>
<li class="level1"><div class="li"> Click on <strong>“Phone Book”</strong> tab and you will see list of people in the phone book.</div>
</li>
<li class="level1"><div class="li"> You will see New reminder phone book to add people to phone book.</div>
</li>
</ol>
<iframe src="http://www.youtube.com/embed/aLsQUCHkN8E" height="350" width="425" class="vshare__none" allowfullscreen="" frameborder="0" scrolling="no"></iframe>
</div>
