
<h1 class="sectionedit1" id="create_sip_channel">Create Sip channel</h1>
<div class="level1">

<p>
Sip channel is the channel that based on the sip server and its IP address.
</p>
<ol>
<li class="level1"><div class="li"> Click on drop down list and choose <strong>“Sip channel”</strong><br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbchannel%3Acreatesipchannel&amp;media=en:vbchannel:vb_going_to_create_sip_channel.png" class="media" title="en:vbchannel:vb_going_to_create_sip_channel.png"><img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_going_to_create_sip_channel.png" class="media" alt="" /></a><br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
<ul>
<li class="level2"><div class="li"> Input <strong>Name</strong></div>
</li>
<li class="level2"><div class="li"> Select <strong>Call flow</strong></div>
</li>
<li class="level2"><div class="li"> <strong>Username</strong> of sip server</div>
</li>
<li class="level2"><div class="li"> <strong>Password</strong> of account of sip server</div>
</li>
<li class="level2"><div class="li"> <strong>Number</strong> is configuration number provided by SIP provider</div>
</li>
<li class="level2"><div class="li"> <strong>Limit</strong> is the number of user on call </div>
</li>
<li class="level2"><div class="li"> <strong>Domain</strong> is the ip address of sip server</div>
</li>
<li class="level2"><div class="li"> Select <strong>Direction</strong>, Incoming is allow only incoming call. Outgoing is only for outgoing call. Both directions is for both incoming call and outgoing call. </div>
</li>
<li class="level2"><div class="li"> Register should be tick if required by sip server</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> to finish<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_creating_sip_channel.png" class="mediacenter" alt="" /></div>
</li>
</ol>

</div>
