
<h1 class="sectionedit1" id="feeding_your_project">Feeding Your Project</h1>
<div class="level1">

<p>
Feed is a data format used for providing users with frequently updated content. Content distributors syndicate a web feed, thereby allowing users to subscribe to it. Making a collection of web feeds accessible in one spot is known as aggregation, which is performed by an aggregator. A web feed is also sometimes referred to as a syndicated feed. <br/>

</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbrfeeds%3Aprojectfeeding&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to create feeding.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Feeds”</strong> tab.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbrfeeds:vb_project_feeding.png" class="mediacenter" alt="" /></div>
</li>
<li class="level1"><div class="li"> Click button <strong>Add Feed</strong></div>
</li>
<li class="level1"><div class="li"> Fill in the feed name and click button <strong>Save</strong></div>
</li>
</ol>

<p>
Click on the feed name to view the feed record.
</p>

</div>
