
<h1 class="sectionedit1" id="verboice_132">Verboice 1.3.2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #36: Display datetime format is not clear</div>
</li>
<li class="level1"><div class="li"> #37: Log fusion table datetime field in project timezone</div>
</li>
<li class="level1"><div class="li"> #38: Error on view channel detail to edit</div>
</li>
<li class="level1"><div class="li"> #35: Store result variable does not display in call log</div>
</li>
<li class="level1"><div class="li"> #25: Need to have search in phone box</div>
</li>
<li class="level1"><div class="li"> #31: Phone number does not well control</div>
</li>
<li class="level1"><div class="li"> #30: Error callback for retry schedule</div>
</li>
<li class="level1"><div class="li"> #32: Add Protocol and Port for SIP Channel</div>
</li>
<li class="level1"><div class="li"> #27: Need to have the control number for phone box</div>
</li>
<li class="level1"><div class="li"> #24: Strange behavior while saving call flow</div>
</li>
<li class="level1"><div class="li"> #26: Retry schedule does not work</div>
</li>
<li class="level1"><div class="li"> #28: Move to Erlang version</div>
</li>
<li class="level1"><div class="li"> #22: session call log in new broker(Erlang)</div>
</li>
<li class="level1"><div class="li"> #21: store result of record step in new broker(Erlang)</div>
</li>
<li class="level1"><div class="li"> #20: Handle date step in new broker(Erlang)</div>
</li>
<li class="level1"><div class="li"> #19: Create deregister step in new broker(Erlang)</div>
</li>
<li class="level1"><div class="li"> #18: Register step in new broker(Erlang)</div>
</li>
</ul>

</div>
