
<h1 class="sectionedit1" id="create_callcentric_channel">Create Callcentric channel</h1>
<div class="level1">

<p>
Callcentric channel is the channel that the system will use <a href="http://www.callcentric.com/" class="urlextern" title="http://www.callcentric.com/"  rel="nofollow">Callcentric account</a> to receive and make a call.
</p>
<ol>
<li class="level1"><div class="li"> Click on drop down list and choose <strong>“Callcentric channel”</strong><br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbchannel%3Acreatecallcentricchannel&amp;media=en:vbchannel:vb_going_to_create_callcentric_channel.png" class="media" title="en:vbchannel:vb_going_to_create_callcentric_channel.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbchannel:vb_going_to_create_callcentric_channel.png" class="media" alt="" /></a><br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
<ul>
<li class="level2"><div class="li"> <strong>Name</strong>: is the name channel</div>
</li>
<li class="level2"><div class="li"> <strong>Call flow</strong>: is a call flow in the project you would like the caller to go through when he/she call to you Callcentric number.</div>
</li>
<li class="level2"><div class="li"> <strong>Username</strong>: is the Username (SIP Username) of Callcentric. Callcentric will provide you after successfully registering.</div>
</li>
<li class="level2"><div class="li"> <strong>Password</strong>: is the password of Phone password (SIP password).</div>
</li>
<li class="level2"><div class="li"> <strong>Number</strong>: is the number of Callcentric (SIP username)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> to finish<br/>
</div>
</li>
</ol>
<div class="thumb2 tcenter" style="width:259px"><div class="thumbinner"><img src="/verboice/lib/exe/fetch.php?media=en:vbchannel:vb_creating_callcentric_channel.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that callcentric channel will be created for call flow <strong>National Election Hotline</strong>.</div></div></div>
</div>
