
<h1 class="sectionedit1" id="how_does_it_work">How does it work?</h1>
<div class="level1">

<p>
To get started, first set up a phone number dedicated to Verboice. Next, record outgoing messages offline, for later upload, or directly, using the Verboice Web application. Once you&#039;ve recorded your outgoing messages, create your program&#039;s navigation sequence using Verboice&#039;s easy-to-use tools and review it using the onscreen flowchart. Community members can then access your interactive program from any phone. The caller will hear your audio file, which will usually ask them a question, respond either by voice or keypad entry and then hear the next audio file that you’ve specified to play based on the caller’s response to the previous question. Responses are collected automatically, and you can log into your Verboice account to review them at your convenience.<br/>

</p>

<p>
<a href="/help/lib/exe/detail.php?id=en%3Aintroduction%3Ahow_does_it_work&amp;media=en:introduction:how_does_it_work.png" class="media" title="en:introduction:how_does_it_work.png"><img src="/help/lib/exe/fetch.php?w=400&amp;tok=08c0f9&amp;media=en:introduction:how_does_it_work.png" class="mediacenter" alt="" width="400" /></a>
</p>

</div>
