
<h1 class="sectionedit1" id="edit_reminder_schedule">Edit Reminder Schedule</h1>
<div class="level1">

<p>
After the reminder schedule has been created, you also can edit it.
</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/verboice/lib/exe/detail.php?id=en%3Avbreminderschedule%3Aeditreminderschedule&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to edit reminder schedule.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Reminder schedule”</strong> tab. </div>
</li>
<li class="level1"><div class="li"> Click on button <strong>“Edit”</strong> of the reminder schedule that you want to edit. </div>
</li>
<li class="level1"><div class="li"> Make update as you want then click button <strong>“Save”</strong> to save change your update.</div>
</li>
</ol>
<div class="thumb2 trien" style="width:910px"><div class="thumbinner"><img src="/verboice/lib/exe/fetch.php?w=900&amp;tok=00d23a&amp;media=en:vbreminderschedule:vb_edit_reminder_schedule.png" class="mediabox2" alt="" width="900" /><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbreminderschedule%3Aeditreminderschedule&amp;media=en:vbreminderschedule:vb_edit_reminder_schedule.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot showing that we want to edit the reminder schedule for Loy9 Group.</div></div></div>
</div>
