
<h1 class="sectionedit1" id="video_of_setting_up_testing_channel_by_using_callcentric">Video of Setting up Testing Channel By Using Callcentric</h1>
<div class="level1">

<p>
Below is the video tutorial how to set up testing channel on Verboice by using Callcentric.<br/>

</p>
<iframe src="http://www.youtube.com/embed/CkJsub2YnWo" height="406" width="520" class="vshare__center" allowfullscreen="" frameborder="0" scrolling="no"></iframe>
</div>
