
<h1 class="sectionedit1" id="how_to_use_send_sms_control">How to use &quot;Send SMS&quot; control</h1>
<div class="level1">

<p>
This control is used to send back text message to the caller. Adding this control, we have to as below:
</p>
<ul>
<li class="level1"><div class="li"> <strong>Message</strong>: Type the message that going to send to the caller.</div>
</li>
<li class="level1"><div class="li"> <strong>Recipient</strong>: Click on drop down list and choose who are going to receive text message.<br/>
</div>
</li>
</ul>
<div class="thumb2 tcenter" style="width:307px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_project_call_flow_send_sms_control.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that text message will send to the caller.</div></div></div>
</div>
