
<h1 class="sectionedit1" id="verboice_160">Verboice 1.6.0</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #41 Queue call are blocks other queue call</div>
</li>
<li class="level1"><div class="li"> #38 Reminder Schedule: Change the default value of condition</div>
</li>
<li class="level1"><div class="li"> #37 Export/import callflow without audio not working with multi-language</div>
</li>
<li class="level1"><div class="li"> #40 Problem of view rendering while creating a contact in phonebox</div>
</li>
<li class="level1"><div class="li"> #39 Edit a contact in phonebox does not work well</div>
</li>
<li class="level1"><div class="li"> #36 Call log status when there is error</div>
</li>
<li class="level1"><div class="li"> #35 incorrect audio url in download csv</div>
</li>
<li class="level1"><div class="li"> #34 forward call step doesn&#039;t support both custom and sip channel</div>
</li>
<li class="level1"><div class="li"> #33 import reminder group should be ignored which number has include space in the middle and drop the trailing spaces</div>
</li>
<li class="level1"><div class="li"> #20 Online resource with url containing space doesn&#039;t encode properly</div>
</li>
<li class="level1"><div class="li"> #19 Call duration calculate not correct for callback step</div>
</li>
<li class="level1"><div class="li"> #13 Possibility to pause, resume or cancel the queues call</div>
</li>
<li class="level1"><div class="li"> #12 Speech recognition step implementation</div>
</li>
<li class="level1"><div class="li"> #11 Implement long log as optional</div>
</li>
<li class="level1"><div class="li"> #10 Redesign the reminder scheduler</div>
</li>
<li class="level1"><div class="li"> #9 Add the call log id back</div>
</li>
<li class="level1"><div class="li"> #8 Silence detection implementation</div>
</li>
<li class="level1"><div class="li"> #7 Record step doesn&#039;t show in call log</div>
</li>
<li class="level1"><div class="li"> #6 Status callback error when enqueuing new call</div>
</li>
<li class="level1"><div class="li"> #5 Problem of uploading the backup file to Amazone server</div>
</li>
<li class="level1"><div class="li"> #4 Input step: break validation when containing trailing space</div>
</li>
<li class="level1"><div class="li"> #3 Validate phone number during importing reminder group</div>
</li>
<li class="level1"><div class="li"> #2 Not allow duplicated channel with reminder schedule</div>
</li>
<li class="level1"><div class="li"> #1 Update Ruby to 1.9.3-P484</div>
</li>
</ul>

</div>
