
<h1 class="sectionedit1" id="edit_project_call_flow">Edit Project Call Flow</h1>
<div class="level1">

<p>
Call flow is a collection of steps of your project’s workflow that interacts with caller when he/she calls to the system.<br/>

</p>
<ol>
<li class="level1"><div class="li"> Click on <strong>”<a href="http://verboice-cambodia.instedd.org/projects" class="urlextern" title="http://verboice-cambodia.instedd.org/projects"  rel="nofollow">Projects</a>“</strong> menu.</div>
</li>
<li class="level1"><div class="li"> Click on setting icon of the project that you want to edit.<br/>
<div class="thumb2 tcenter" style="width:638px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallflow%3Aedit_project_call_flow&amp;media=en:vbproject:vb_will_going_to_project_setting.png" class="media" title="en:vbproject:vb_will_going_to_project_setting.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbproject:vb_will_going_to_project_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we will go to setting of project <strong>“Pregnancy Information”</strong> project.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Call Flows”</strong> tab.<br/>
<div class="thumb2 tcenter" style="width:572px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallflow%3Aedit_project_call_flow&amp;media=en:vbprojectcallflow:vb_will_going_to_project_call_flow_tab.png" class="media" title="en:vbprojectcallflow:vb_will_going_to_project_call_flow_tab.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallflow:vb_will_going_to_project_call_flow_tab.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot show that we&#039;ll go to call flow of project <strong>“Pregnancy Information”</strong>.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on button <strong>“Edit”</strong> of the call flow that you want to edit.<br/>
<div class="thumb2 tcenter" style="width:688px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallflow%3Aedit_project_call_flow&amp;media=en:vbprojectcallflow:vb_edit_project_call_flow.png" class="media" title="en:vbprojectcallflow:vb_edit_project_call_flow.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallflow:vb_edit_project_call_flow.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we want to edit call flow “Pregnancy Take Care” in project “Pregnancy Information”.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Edit the call flow as you want then click button <strong>“Update”</strong></div>
</li>
</ol>

</div>
