
<h1 class="sectionedit1" id="how_to_use_forward_call_control">How to use &quot;Forward Call&quot; control</h1>
<div class="level1">

<p>
Forward Call Control is used to forward call to another number.  <strong>Phone number</strong> will be used to forward to that number.<br/>

</p>
<div class="thumb2 tcenter" style="width:326px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_forward_call_control&amp;media=en:vbprojectcallstepcontrol:vb_call_forward_control_full_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_call_forward_control_full_setting.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_call_forward_control_full_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that this step will be forward call to phone number 85512345678.</div></div></div>
</div>
