
<h1 class="sectionedit1" id="verboice_156">Verboice 1.5.6</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #42 register step remove zero prefix of previous addresses</div>
</li>
</ul>

</div>
