
<h1 class="sectionedit1" id="delete_project">Delete Project</h1>
<div class="level1">

<p>
User also can delete that project by follow the instruction below:
</p>
<ol>
<li class="level1"><div class="li"> Click on <strong>”<a href="http://verboice-cambodia.instedd.org/projects" class="urlextern" title="http://verboice-cambodia.instedd.org/projects"  rel="nofollow">Projects</a>“</strong> menu.</div>
</li>
<li class="level1"><div class="li"> Click on setting icon of the project that you want to edit.<br/>
<div class="thumb2 tcenter" style="width:638px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbproject%3Adelete_project&amp;media=en:vbproject:vb_will_going_to_project_setting.png" class="media" title="en:vbproject:vb_will_going_to_project_setting.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbproject:vb_will_going_to_project_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we will go to setting of project <strong>“Pregnancy Information”</strong> project.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Overview”</strong> tab. This tab is also automatically redirect when setting icon was clicked.</div>
</li>
<li class="level1"><div class="li"> Edit the project as you want and click on button <strong>“Update”</strong> to save change your editing.<br/>
<br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbproject%3Adelete_project&amp;media=en:vbproject:vb_edit_project.png" class="media" title="en:vbproject:vb_edit_project.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbproject:vb_edit_project.png" class="mediacenter" alt="" /></a></div>
</li>
</ol>

</div>
