
<h1 class="sectionedit1" id="how_to_use_record_control">How to use &quot;Record&quot; control</h1>
<div class="level1">

<p>
Record control is used to record voice message from the caller. You will see some option that you can add to this control.
</p>
<ul>
<li class="level1"><div class="li"> <strong>Explanation</strong>: is where you can explain the purpose of voice recording. Click on setting button ( <a href="/verboice-help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_record_control&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/verboice-help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the <strong>Explanation</strong> label and set the explanation for record control.</div>
</li>
<li class="level1"><div class="li"> <strong>Confirmation</strong>: is the message for the caller after they finish recording. Click on setting button ( <a href="/verboice-help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_record_control&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/verboice-help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the <strong>Confirmation</strong> label and set the confirmation message.</div>
</li>
<li class="level1"><div class="li"> <strong>Maximum recording time in secs</strong>: is the maximum recording time in second. Type the number of second in text box to set the maximum time for voice record.</div>
</li>
<li class="level1"><div class="li"> <strong>Silence detection in secs</strong>: is the number of silence detection when it&#039;s reached then it will finish the step without waiting until reaches the maximum recording time in secs and go to the next step. Zero means no silence detection applied.</div>
</li>
<li class="level1"><div class="li"> <strong>Stop recording audio with key</strong>: is the key to tell the system that the recording is finished (press by the caller). For example, you can instruct the caller to press # to stop the recording.</div>
</li>
<li class="level1"><div class="li"> <strong>Store this result as</strong>: is the variable for storing the voice record. Check and type the variable name in the text box.</div>
</li>
</ul>

<p>
Click button <strong>Save</strong> to save the Record control setting for your call flow.<br/>

</p>
<div class="thumb2 tleft" style="width:303px"><div class="thumbinner"><a href="/verboice-help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_record_control&amp;media=en:vbprojectcallstepcontrol:record.png" class="media" title="en:vbprojectcallstepcontrol:record.png"><img src="/verboice-help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:record.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot show that the caller have 10 seconds to record their voice and this voice will store in variable <strong>voice_message</strong>. To stop voice record, the caller just press keybad <strong>#</strong>.</div></div></div>
</div>
