
<h1 class="sectionedit1" id="create_a_new_project">Create a New Project</h1>
<div class="level1">

<p>
After you can log in to the system the first step that you have to do is to create project. <br/>

Follow the instruction below to create a new project:<br/>

</p>
<ol>
<li class="level1"><div class="li"> Click on menu <strong><a href="http://verboice-cambodia.instedd.org/projects" class="urlextern" title="http://verboice-cambodia.instedd.org/projects"  rel="nofollow">Projects</a></strong> on the middle-top or click on button <strong><a href="http://verboice-cambodia.instedd.org/projects" class="urlextern" title="http://verboice-cambodia.instedd.org/projects"  rel="nofollow">View your projects</a></strong> on the bottom-left.<br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbproject%3Acreate_a_new_project&amp;media=en:vbproject:verboice_go_to_project.png" class="media" title="en:vbproject:verboice_go_to_project.png"><img src="/help/lib/exe/fetch.php?w=700&amp;tok=d9eed5&amp;media=en:vbproject:verboice_go_to_project.png" class="mediacenter" alt="" width="700" /></a></div>
</li>
<li class="level1"><div class="li"> Click on <strong><a href="http://verboice-cambodia.instedd.org/projects/new" class="urlextern" title="http://verboice-cambodia.instedd.org/projects/new"  rel="nofollow">Create Project</a></strong> <br/>
<br/>
 <a href="/help/lib/exe/detail.php?id=en%3Avbproject%3Acreate_a_new_project&amp;media=en:vbproject:verboice_create_new_project.png" class="media" title="en:vbproject:verboice_create_new_project.png"><img src="/help/lib/exe/fetch.php?media=en:vbproject:verboice_create_new_project.png" class="mediacenter" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> Now you would see the form to create project and the red star (<span style='color:red; '>*</span>) is required field. You will find some field below:</div>
<ol>
<li class="level2"><div class="li"> <em><em class="u">Name</em></em>: is the project name</div>
</li>
<li class="level2"><div class="li"> <em><em class="u">Time Zone</em></em>: is the project time zone and normally the time zone of the project that will be implemented</div>
</li>
<li class="level2"><div class="li"> <em><em class="u">Default Language</em></em>: is the language that the project will use in the system</div>
</li>
<li class="level2"><div class="li"> <em><em class="u">Text-to-speech Engine</em></em>: is the engine or service that is used to convert written text into voice</div>
</li>
<li class="level2"><div class="li"> <em><em class="u">Supported language</em></em>: add the language that will be supported on the project</div>
</li>
<li class="level2"><div class="li"> <em><em class="u"><abbr title="Uniform Resource Locator">URL</abbr></em></em>: It&#039;s for technical used only. Type the <abbr title="Uniform Resource Locator">URL</abbr> for connect Verboice to your application.</div>
</li>
<li class="level2"><div class="li"> <em><em class="u">User</em></em>: Technical used only. Type the user name to connect to your application.</div>
</li>
<li class="level2"><div class="li"> <em><em class="u">Password</em></em>: Technical used only. Type the password of the user to connect to your application.</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> <br/>
<br/>
<div class="thumb2 tcenter" style="width:342px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbproject%3Acreate_a_new_project&amp;media=en:vbproject:vb_create_new_project.png" class="media" title="en:vbproject:vb_create_new_project.png"><img src="/help/lib/exe/fetch.php?media=en:vbproject:vb_create_new_project.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that the project that is going to create name “Pregnancy Information” with Phnom Penh timezone and use English language as default. The support language for this project is English American.</div></div></div>
<p>
 <br/>
<br/>

</p>
</div>
</li>
</ol>

<p>
After you save the project you will be redirected to <a href="/help/doku.php?id=en:vbprojectcallflow:create_a_new_project_call_flows" class="wikilink1" title="en:vbprojectcallflow:create_a_new_project_call_flows">project call flow</a>. <br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbproject%3Acreate_a_new_project&amp;media=en:vbproject:vb_redirect_to_project_call_flow.png" class="media" title="en:vbproject:vb_redirect_to_project_call_flow.png"><img src="/help/lib/exe/fetch.php?media=en:vbproject:vb_redirect_to_project_call_flow.png" class="mediacenter" alt="" /></a>
</p>

</div>
