
<h1 class="sectionedit1" id="create_feed">Create Feed</h1>
<div class="level1">

<p>
Feed is a data format used for providing users with frequently updated content. Content distributors syndicate a web feed, thereby allowing users to subscribe to it. Making a collection of web feeds accessible in one spot is known as aggregation, which is performed by an aggregator. A web feed is also sometimes referred to as a syndicated feed.
</p>

</div>
