
<h1 class="sectionedit1" id="how_to_use_call_back_control">How to use &quot;Call Back&quot; control</h1>
<div class="level1">

<p>
This control is used to allow the system call back to the caller immediately after hang up.<br/>
It&#039;s optional to add dial prefix.<br/>

<img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_call_back_control.png" class="mediacenter" alt="" />
</p>

</div>
