
<h1 class="sectionedit1" id="verboice_157">Verboice 1.5.7</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #44 Chang behaviour code for register step</div>
</li>
<li class="level1"><div class="li"> #43 Reminder schedult generate an extra address with …</div>
</li>
</ul>

</div>
