
<h1 class="sectionedit1" id="verboice_161">Verboice 1.6.1</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #48 Display speed recognition according to the config file</div>
</li>
</ul>

</div>
