
<h1 class="sectionedit1" id="how_to_use_mark_as_successful_control">How to use &quot;Mark as successful&quot; control</h1>
<div class="level1">

<p>
There is no any configure on this control. We only mark to flow of caller is success.
</p>

</div>
