
<h1 class="sectionedit1" id="resource_map_website">Resource Map Website</h1>
<div class="level1">

<p>
Resource Map helps people track their work, resources and results geographically in a simple and collaborative environment that can be accessed from anywhere. Users can create shared or private maps which all them to see and update the information anytime, and perform queries and updates even over SMS (such as getting the free bed availability in the nearest 3 clinics). Resource Map is an open-source Ruby tool that integrates with mobile platforms for updates and queries.<br/>

</p>

<p>
Go to <a href="http://resourcemap.instedd.org" class="urlextern" title="http://resourcemap.instedd.org"  rel="nofollow">http://resourcemap.instedd.org</a> to get start for free today.<br/>

</p>

<p>
Below is the first loading screen of Resource Map Website.<br/>

</p>

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Adyrmwebsite%3Adynamic_resource_map_page&amp;media=en:dyrmwebsite:first-screenshot.gif" class="media" title="en:dyrmwebsite:first-screenshot.gif"><img src="/resourcemap/lib/exe/fetch.php?media=en:dyrmwebsite:first-screenshot.gif" class="media" alt="" /></a>
</p>

</div>
