
<h1 class="sectionedit1" id="edit_controls_in_verboice">Edit Controls in Verboice</h1>
<div class="level1">

<p>
After the control has been created in call step, you can edit any control in call step.
</p>

</div>
