
<h1 class="sectionedit1" id="verboice_153">Verboice 1.5.3</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #122: Reminder schedule do not allow duplicate channel</div>
</li>
<li class="level1"><div class="li"> #121: problem for forward call step</div>
</li>
<li class="level1"><div class="li"> #119: Wrong selected date for reminder schedule enqueu call</div>
</li>
<li class="level1"><div class="li"> #118: Problem of csv download dialog</div>
</li>
<li class="level1"><div class="li"> #117: Skip validation for call log duration/interaction migration</div>
</li>
</ul>

</div>
