
<h1 class="sectionedit1" id="verboice_website">Verboice Website</h1>
<div class="level1">

<p>
Verboice let you create and run application via voice, thereby overcoming literacy and geographical barriers.<br/>

Go to <a href="http://verboice-cambodia.instedd.org" class="urlextern" title="http://verboice-cambodia.instedd.org"  rel="nofollow">http://verboice-cambodia.instedd.org</a> to get start for free today.<br/>

</p>

<p>
Below is the first loading screen of Resource Map Website.<br/>

</p>

<p>
<a href="/verboice-help/lib/exe/detail.php?id=en%3Averboicewebsite%3Averboice_website&amp;media=en:verboicewebsite:verboice_first_screenshot.png" class="media" title="en:verboicewebsite:verboice_first_screenshot.png"><img src="/verboice-help/lib/exe/fetch.php?w=1000&amp;tok=3c17da&amp;media=en:verboicewebsite:verboice_first_screenshot.png" class="mediacenter" alt="" width="1000" /></a>
</p>

</div>
