
<h1 class="sectionedit1" id="view_project_call_log">View Project Call Log</h1>
<div class="level1">

<p>
After your project could receive calls from the users. System will store all calls in Calls log and you can view all call logs by click on <strong>Calls</strong> tab.<br/>

</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/verboice/lib/exe/detail.php?id=en%3Avbviewcalllog%3Aviewcalllog&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to view its call log.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Calls”</strong> tab.<br/>
<img src="/verboice/lib/exe/fetch.php?media=en:vbviewcalllog:vb_to_call_log.png" class="media" alt="" /><br/>
<br/>
Verboice will show all the call activities that the caller have called to this project as the below screenshot:<br/>
<img src="/verboice/lib/exe/fetch.php?w=900&amp;tok=06cde7&amp;media=en:vbviewcalllog:vb_project_call_log.png" class="media" alt="" width="900" /><br/>
<br/>
Click on <strong>“view details”</strong> at the right of any call log to view in detail.<br/>
<div class="thumb2 trien" style="width:860px"><div class="thumbinner"><img src="/verboice/lib/exe/fetch.php?w=850&amp;tok=bee23d&amp;media=en:vbviewcalllog:vb_view_detail_call_log.png" class="mediabox2" alt="" width="850" /><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbviewcalllog%3Aviewcalllog&amp;media=en:vbviewcalllog:vb_view_detail_call_log.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that we want to view detail of callerID:078767364. </div></div></div>
<p>
<br/>

</p>
</div>
</li>
</ol>

<p>
In Verboice application, the user can download as achievement of the call log as <a href="http://en.wikipedia.org/wiki/Comma-separated_values" class="urlextern" title="http://en.wikipedia.org/wiki/Comma-separated_values"  rel="nofollow">CSV</a>. Because of in one project we can create more than one call flow, click on drop down list and choose call flow that you want to download its call log.<br/>
<img src="/verboice/lib/exe/fetch.php?media=en:vbviewcalllog:vb_sellecting_call_flow.png" class="media" alt="" /><br/>

</p>

<p>
Click on button <strong>“Download as CSV”</strong> to download it.<br/>

</p>
<div class="thumb2 trien" style="width:453px"><div class="thumbinner"><img src="/verboice/lib/exe/fetch.php?media=en:vbviewcalllog:vb_downloading_project_call_log.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that we want to download call log from all call flow.</div></div></div>
</div>
