
<h1 class="sectionedit1" id="sign_up">Sign Up</h1>
<div class="level1">

<p>
To use Resource Map you need to create an account. To create it from the website go to <a href="http://resourcemap.instedd.org" class="urlextern" title="http://resourcemap.instedd.org"  rel="nofollow">http://resourcemap.instedd.org</a>. <br/>

</p>
<ol>
<li class="level1"><div class="li">  Click on <strong><a href="http://resourcemap.instedd.org/users/sign_up" class="urlextern" title="http://resourcemap.instedd.org/users/sign_up"  rel="nofollow">Create account</a></strong> or click on button <strong><a href="http://resourcemap.instedd.org/users/sign_up" class="urlextern" title="http://resourcemap.instedd.org/users/sign_up"  rel="nofollow">Sign up for free</a></strong><br/>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Adyrmwebsite%3Asign_up&amp;media=en:dyrmwebsite:sign_up.png" class="media" title="en:dyrmwebsite:sign_up.png"><img src="/resourcemap/lib/exe/fetch.php?w=750&amp;tok=539cd2&amp;media=en:dyrmwebsite:sign_up.png" class="media" alt="" width="750" /></a> <br/>
</div>
</li>
<li class="level1"><div class="li">  Fill in the require information as bellow: <br/>
</div>
<ul>
<li class="level3"><div class="li"> <strong>Email</strong>: Fill in the email that you&#039;re going to use for Resource Map. This field is require and you&#039;ll use this email for log in.</div>
</li>
<li class="level3"><div class="li"> <strong>Password</strong>: Type the password for log in.</div>
</li>
<li class="level3"><div class="li"> <strong>Password confirmation</strong>: Type the password again.</div>
</li>
<li class="level3"><div class="li"> <strong>Phone number</strong>: Fill in your phone number including country code. This phone number will be use for update or query the data from of the site in Resource Map. This field is optional.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click on button <strong>Create account</strong>.<br/>
<div class="thumb2 trien" style="width:373px"><div class="thumbinner"><a href="/resourcemap/lib/exe/detail.php?id=en%3Adyrmwebsite%3Asign_up&amp;media=en:dyrmwebsite:signing_up.png" class="media" title="en:dyrmwebsite:signing_up.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:dyrmwebsite:signing_up.png" class="mediabox2" alt="" /></a><div class="thumbcaption">In this screenshot, the user is going to sign up with Resource Map with email: anyonkh@gmail.com and phone number 85517989822</div></div></div>
<p>
 <br/>

</p>
</div>
</li>
</ol>

</div>
