
<h1 class="sectionedit1" id="verboice_version121">Verboice Version: 1.2.1</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #18: fix bug reminder group&#039;s deserialized array</div>
</li>
<li class="level1"><div class="li"> #17: allow reminder group&#039;s address UI enter only phone number pattern ([+][0-9])</div>
</li>
</ul>

</div>
