
<h1 class="sectionedit1" id="verboice_version120">Verboice Version: 1.2.0</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> #16: Add View in Fusion table link in Channel call log</div>
</li>
<li class="level1"><div class="li"> #15: Cannot add more reminder</div>
</li>
<li class="level1"><div class="li"> #14: Replace the cancel/back to button</div>
</li>
<li class="level1"><div class="li"> #13: No notification when saving reminder with the same name</div>
</li>
<li class="level1"><div class="li"> #11: Deregister from reminder group</div>
</li>
<li class="level1"><div class="li"> #10: CallCentrix help vedeo under InSTEDD iLabSea</div>
</li>
<li class="level1"><div class="li"> #9: Ability to import reminder contact from CSV</div>
</li>
<li class="level1"><div class="li"> #8: retore backup file</div>
</li>
<li class="level1"><div class="li"> #7: Link to help or wiki</div>
</li>
<li class="level1"><div class="li"> #6: Register other phone number step</div>
</li>
<li class="level1"><div class="li"> #4: Remove refference to existing resource while importing</div>
</li>
<li class="level1"><div class="li"> #3: Update condition description in reminder schedule UI</div>
</li>
<li class="level1"><div class="li"> #2: Add retry schedule into reminder schedule</div>
</li>
<li class="level1"><div class="li"> #1: The scheduler call does not work properly</div>
</li>
</ul>

</div>
