
<h1 class="sectionedit1" id="how_to_use_play_control">How to use &quot;Play&quot; control</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> When you click on Play control you will see the play step added into the Call flow panel and on the right side is the Play setting as shown below:<br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_play_control&amp;media=en:vbprojectcallstepcontrol:vb_play_contro_added.png" class="media" title="en:vbprojectcallstepcontrol:vb_play_contro_added.png"><img src="/verboice/lib/exe/fetch.php?w=900&amp;tok=485713&amp;media=en:vbprojectcallstepcontrol:vb_play_contro_added.png" class="media" alt="" width="900" /></a><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> Click on button setting next to the message at the right panel to start input the voice message your caller would hear.<br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_play_control&amp;media=en:vbprojectcallstepcontrol:going_to_play_control_configuration.png" class="media" title="en:vbprojectcallstepcontrol:going_to_play_control_configuration.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:going_to_play_control_configuration.png" class="media" alt="" /></a><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> The system will ask you to put message name. Choose <strong>Create new message</strong> if you want to create a new one or choose <strong>Select an existing one</strong> if you want to use the existing message. Click on <strong>“Next”</strong> button. <br/>
<div class="thumb2 tcenter" style="width:260px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_play_control&amp;media=en:vbprojectcallstepcontrol:vb_create_new_play_message.png" class="media" title="en:vbprojectcallstepcontrol:vb_create_new_play_message.png"><img src="/verboice/lib/exe/fetch.php?w=250&amp;tok=79b122&amp;media=en:vbprojectcallstepcontrol:vb_create_new_play_message.png" class="mediabox2" alt="" width="250" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_play_control&amp;media=en:vbprojectcallstepcontrol:vb_create_new_play_message.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that we create a new message name “Welcome”</div></div></div>
<p>
<br/>

</p>
</div>
</li>
<li class="level1"><div class="li"> Click on drop down box and choose one of the option below:</div>
<ol>
<li class="level3"><div class="li"> Choose <strong>Text to speech</strong> if you want the system read the text input using Text-to-speech engine you have chosen when creating project then type the text type the text below the drop down box.</div>
</li>
<li class="level3"><div class="li"> Choose <strong>Online resource</strong> if you want to use online audio file. You will require to input <abbr title="Uniform Resource Locator">URL</abbr> to the audio file.</div>
</li>
<li class="level3"><div class="li"> Choose <strong>Record message</strong> if you want to record voice directly. The system will enable record button that you can record your sound directly using your computer microphone.</div>
</li>
<li class="level3"><div class="li"> Choose <strong>Upload a file</strong> if you want to upload audio file. The system will allow you upload existing file from you computer, currently only <em class="u">wav</em> and <em class="u">mp3</em> file are supported.<div class="thumb2 tcenter" style="width:296px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_play_control&amp;media=en:vbprojectcallstepcontrol:vb_create_new_play_message1.png" class="media" title="en:vbprojectcallstepcontrol:vb_create_new_play_message1.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_create_new_play_message1.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we choose <strong>“Text to speech”</strong> option with the message “Welcome to pregnancy take care center” for play control.</div></div></div>
<p>
<br/>

</p>
</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Click on button <strong>“Save”</strong> to finish.</div>
</li>
</ol>

</div>
