
<h1 class="sectionedit1" id="how_to_use_link_control">How to use &quot;Link&quot; control</h1>
<div class="level1">

<p>
Link Control is used to link to one specific step in the call flow. For example when you want the caller to go back to menu, Link control will configure to link to the menu so we don’t need to create menu again. Go to step is where you will select step to go.<br/>

</p>
<div class="thumb2 tleft" style="width:910px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_link_control&amp;media=en:vbprojectcallstepcontrol:vb_create_link_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_create_link_control.png"><img src="/verboice/lib/exe/fetch.php?w=900&amp;tok=8ca13e&amp;media=en:vbprojectcallstepcontrol:vb_create_link_control.png" class="mediabox2" alt="" width="900" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_link_control&amp;media=en:vbprojectcallstepcontrol:vb_create_link_control.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot showing that the caller will go back to Menu.</div></div></div>
</div>
