
<h1 class="sectionedit1" id="how_to_use_mark_as_failed_control">How to use &quot;Mark as failed&quot; control</h1>
<div class="level1">

<p>
There is no any configuration on this control. You can use it to mark the call as failed.<br/>

</p>

</div>
