
<h1 class="sectionedit1" id="how_to_use_menu_control">How to use &quot;Menu&quot; control</h1>
<div class="level1">

<p>
<strong>Menu</strong> Control is used to provide menu options allowing the caller to choose.<br/>

</p>

<p>
When you click on <strong>Menu</strong> control you will see the play step added into the Call flow panel and on the right side is the Menu control setting as shown below:<br/>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_menu_control&amp;media=en:vbprojectcallstepcontrol:vb_first_screen_of_add_menu_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_first_screen_of_add_menu_control.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_first_screen_of_add_menu_control.png" class="media" alt="" /></a><br/>

</p>

<p>
There are 4 different sections in setting of control Menu at the right side panel.
</p>

</div>
<!-- EDIT1 SECTION "How to use Menu control" [1-447] -->
<h3 class="sectionedit2" id="messages">1- Messages</h3>
<div class="level3">

<p>
This section is about the guide to caller to understand what the option they going to choose in the system.<br/>

</p>
<ul>
<li class="level1"><div class="li"> <strong>Explanation</strong> is a brief explanation of the control to caller. It&#039;s optional.</div>
</li>
<li class="level1"><div class="li"> <strong>Options</strong> is the voice message about the choice the caller need to select, and this Options message will play again if the caller didn’t respond for a given time frame. It&#039;s require for Menu control.</div>
</li>
<li class="level1"><div class="li"> <strong>Invalid</strong> is the voice message to tell back to the caller when choose the option that doesn&#039;t have. It&#039;s optional.<br/>
<div class="thumb2 tcenter" style="width:231px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_menu_control&amp;media=en:vbprojectcallstepcontrol:vb_message_in_menu_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_message_in_menu_control.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_message_in_menu_control.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that the system will guide the caller to press 1 for mother take care or press 2 for baby take care. </div></div></div></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "1- Messages" [448-1189] -->
<h3 class="sectionedit3" id="attempts">2- Attempts</h3>
<div class="level3">

<p>
This section sets how the system interact with the caller when caller did not select any choice by repeat the message from <strong>Options</strong> base on the number of configured attempt. After final attempt fails will allow you to create the next step if the caller failed to select any given choices.<br/>

</p>
<div class="thumb2 tcenter" style="width:298px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_menu_control&amp;media=en:vbprojectcallstepcontrol:vb_attempt_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_attempt_setting.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_attempt_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that the system will repeat 3 times to the caller to take action every 5 second. The system will skip this step if there is no action from caller after 3 times repeat.</div></div></div>
</div>
<!-- EDIT3 SECTION "2- Attempts" [1190-1756] -->
<h3 class="sectionedit4" id="options">3- Options</h3>
<div class="level3">

<p>
This section is where you add option that would respond to phone key press. Note that you have to configure of the action you have choose.<br/>

</p>
<div class="thumb2 tcenter" style="width:296px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_menu_control&amp;media=en:vbprojectcallstepcontrol:vb_option_setting_in_menu_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_option_setting_in_menu_control.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_option_setting_in_menu_control.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot show that if caller press 1 and 2 will play<sup><a href="#fn__1" id="fnt__1" class="fn_top">1)</a></sup> and press 3 will hang up.</div></div></div>
</div>
<!-- EDIT4 SECTION "3- Options" [1757-2168] -->
<h3 class="sectionedit5" id="store_result_as">4- Store result as</h3>
<div class="level3">

<p>
The system will store the caller input in a variable you have given in the text box.<br/>

</p>

<p>
Below is the screenshot of Menu control showing that when caller press 1 will play first play, when user press 2 will play the second play and if user press 3 the system will terminate and store call response to “intro_menu” variable.
<a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_menu_control&amp;media=en:vbprojectcallstepcontrol:vb_menu_control_full_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_menu_control_full_setting.png"><img src="/verboice/lib/exe/fetch.php?w=900&amp;tok=265254&amp;media=en:vbprojectcallstepcontrol:vb_menu_control_full_setting.png" class="mediacenter" alt="" width="900" /></a>
</p>

</div>
<!-- EDIT5 SECTION "4- Store result as" [2169-] --><div class="footnotes">
<div class="fn"><sup><a href="#fnt__1" id="fn__1" class="fn_bot">1)</a></sup> 
see how to setup Play control <a href="/verboice/doku.php?id=en:vbprojectcallstepcontrol:using_play_control" class="wikilink1" title="en:vbprojectcallstepcontrol:using_play_control">here</a></div>
</div>
