
<h1 class="sectionedit1" id="setup_softphone_by_using_x-lite">Setup Softphone by using X-Lite</h1>
<div class="level1">

<p>
There are different ways to make calls to Verboice depending on the type of channel you have. For example, Cellcentric and Skype will give you an international phone number to receive calls from your mobile phone, but with SIP channel and custom channel you will need to call from a <a href="http://en.wikipedia.org/wiki/Softphone" class="urlextern" title="http://en.wikipedia.org/wiki/Softphone"  rel="nofollow">softphone</a>.
</p>

<p>
You will need to install any softphone program of your preference into your computer. I would recommend you to try <a href="http://www.counterpath.com/x-lite.html" class="urlextern" title="http://www.counterpath.com/x-lite.html"  rel="nofollow">XLite softphone</a> software for a testing purpose. To get the file download please <a href="http://counterpath.s3.amazonaws.com/downloads/X-Lite_Win32_5.0.0_67284.exe" class="urlextern" title="http://counterpath.s3.amazonaws.com/downloads/X-Lite_Win32_5.0.0_67284.exe"  rel="nofollow">click here</a> and you will wait a few minutes for the downloading.  After download completed, you can install it with some steps below: <br/>

</p>

<p>
<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite1.png" class="media" alt="" /><br/>

Click <strong>Next</strong><br/>

</p>

<p>
<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite2.png" class="media" alt="" /><br/>

Click on the <strong>checkbox</strong> to accept the terms and click the <strong>Next</strong> button.<br/>

</p>

<p>
<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite3.png" class="media" alt="" /><br/>

This is the step tell you where you want to install your Xlite software. Click <strong>Next</strong> to the next step.<br/>

</p>

<p>
<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite4.png" class="media" alt="" /><br/>

Click on <strong>Install</strong> to start make installation.<br/>

</p>

<p>
<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite5.png" class="media" alt="" /><br/>

</p>

<p>
Wait until it finished and you will see the image below.<br/>

<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite6.png" class="media" alt="" /><br/>

Click <strong>Finish</strong> to finish installation.<br/>

</p>

<p>
<br/>

How can we call from X-Lite to Verboice? Go to <a href="/verboice/doku.php?id=en:vbmakecall:configure_x-lite_with_callcentric" class="wikilink1" title="en:vbmakecall:configure_x-lite_with_callcentric">STEP 4 to learn more how to configure X-Lite with Callcentric</a>.
</p>

</div>
