
<h1 class="sectionedit1" id="how_to_use_deregister_control">How to use &quot;Deregister&quot; control</h1>
<div class="level1">

<p>
This is Deregister control. It&#039;s used to unregistered user phone number from reminder group.<br/>

Click on Deregister control to add to your call flow and setting up as the below:
</p>
<ul>
<li class="level1"><div class="li"> <strong>Confirmation</strong>: is where you can explain to tell to the caller that caller&#039;s phone number will be deregister from system. Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_deregister_control&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the confirmation label and set the explanation.</div>
</li>
<li class="level1"><div class="li"> <strong>Reminder group</strong>: click on drop down list and choose the reminder group to deregister caller&#039;s phone number from that reminder group.</div>
</li>
</ul>

<p>
Click button <strong>Save</strong> to finish.<br/>

</p>
<div class="thumb2 tcenter" style="width:338px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_deregister_control&amp;media=en:vbprojectcallstepcontrol:vb_deregister_control_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_deregister_control_setting.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_deregister_control_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that the caller&#039;s phone number will be deregistered from reminder group <strong>Pregnancy follow up</strong>.</div></div></div>
</div>
