
<h1 class="sectionedit1" id="create_a_channel_in_verboice">Create a Channel in Verboice</h1>
<div class="level1">

<p>
To make or receive a call from users, you have to create channel. Channel is the route that allows Verboice to be able to receive and make phone calls.<br/>

</p>
<ol>
<li class="level1"><div class="li"> Click on <strong>Channels</strong> menu to start create channel in Verboice.<br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbchanel%3Acreatechannel&amp;media=en:vbchanel:vb_go_to_channel.png" class="media" title="en:vbchanel:vb_go_to_channel.png"><img src="/help/lib/exe/fetch.php?media=en:vbchanel:vb_go_to_channel.png" class="mediacenter" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> Click on Combo box with label <strong>Create new…</strong> and it will drop down the list of channel type that you are going to create.<br/>
</div>
</li>
</ol>

<p>
There are 5 different channels type that you can create:
</p>
<ul>
<li class="level1"><div class="li"> <a href="/help/doku.php?id=en:vbchannel:createcallcentricchannel" class="wikilink1" title="en:vbchannel:createcallcentricchannel">Callcentric channel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/help/doku.php?id=en:vbchannel:createcustomchannel" class="wikilink1" title="en:vbchannel:createcustomchannel">Custom channel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/help/doku.php?id=en:vbchannel:createsipchannel" class="wikilink1" title="en:vbchannel:createsipchannel">Sip channel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/help/doku.php?id=en:vbchannel:createskypechannel" class="wikilink1" title="en:vbchannel:createskypechannel">Skype channel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/help/doku.php?id=en:vbchannel:createtwiliochannel" class="wikilink1" title="en:vbchannel:createtwiliochannel">Twilio channel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/help/doku.php?id=en:vbchannel:createvoxeochannel" class="wikilink1" title="en:vbchannel:createvoxeochannel">Voxeo channel</a></div>
</li>
</ul>

</div>
