
<h1 class="sectionedit1" id="verboice_resources">Verboice Resources</h1>
<div class="level1">

<p>
After designing call flow in Verboice, you also can view all these content of call flow by click on “<strong>Resources</strong>” and the content of your call flow shown as the below screenshot.<br/>
<br/>

</p>

<p>
<img src="/help/lib/exe/fetch.php?media=en:vbresources:vb_resources.png" class="mediacenter" alt="" />
</p>

</div>
