
<h1 class="sectionedit1" id="how_to_use_branches_control">How to use &quot;Branches&quot; control</h1>
<div class="level1">

<p>
Branches Control is used to set up branches in the call flow and divert the caller to a certain branch based on conditions.
</p>
<ol>
<li class="level1"><div class="li"> When the <strong>Branches</strong> control was added to your play step, choose the control and click add button to add to your branches from the drop down list at the right panel. <br/>
<div class="thumb2 tcenter" style="width:860px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_branches_control&amp;media=en:vbprojectcallstepcontrol:vb_add_control_for_branches_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_add_control_for_branches_control.png"><img src="/verboice/lib/exe/fetch.php?w=850&amp;tok=d63219&amp;media=en:vbprojectcallstepcontrol:vb_add_control_for_branches_control.png" class="mediabox2" alt="" width="850" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_branches_control&amp;media=en:vbprojectcallstepcontrol:vb_add_control_for_branches_control.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that we have added two play control for branches control.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on control name you have added for your Branches control to set the condition.<br/>
<div class="thumb2 tcenter" style="width:260px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_branches_control&amp;media=en:vbprojectcallstepcontrol:vb_going_to_add_condition_for_branch_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_going_to_add_condition_for_branch_control.png"><img src="/verboice/lib/exe/fetch.php?w=250&amp;tok=bb7655&amp;media=en:vbprojectcallstepcontrol:vb_going_to_add_condition_for_branch_control.png" class="mediabox2" alt="" width="250" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_branches_control&amp;media=en:vbprojectcallstepcontrol:vb_going_to_add_condition_for_branch_control.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that we&#039;re going to add condition for play control in Branches control.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on add button and setup the condition as you want. <em>Note that the condition is base on the input from the caller.</em> <br/>
<div class="thumb2 tcenter" style="width:260px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_branches_control&amp;media=en:vbprojectcallstepcontrol:vb_add_condition_in_branches_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_add_condition_in_branches_control.png"><img src="/verboice/lib/exe/fetch.php?w=250&amp;tok=aee3ce&amp;media=en:vbprojectcallstepcontrol:vb_add_condition_in_branches_control.png" class="mediabox2" alt="" width="250" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_branches_control&amp;media=en:vbprojectcallstepcontrol:vb_add_condition_in_branches_control.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that the first Play control will play unless the </div></div></div></div>
</li>
<li class="level1"><div class="li"> Click <strong>Save</strong> button to save the condition.</div>
</li>
</ol>

<p>
After the condition has been created for each control in Branches control, click on the control in Branches control and setting up as normal.
</p>

<p>
Do the same step for other control condition in Branches control.
</p>

</div>
