
<h1 class="sectionedit1" id="create_a_new_project_call_step">Create a New Project Call Step</h1>
<div class="level1">

<p>
Call Step is an action that the system will walk the caller through. After you create Call flow, you can add call steps using designer tool in Verboice. You can click on <strong>“Go to Designer”</strong>.<br/>

</p>
<div class="thumb2 tcenter" style="width:688px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstep%3Acreate_a_new_project_call_step&amp;media=en:vbprojectcallstep:vb_create_a_new_project_call_step.png" class="media" title="en:vbprojectcallstep:vb_create_a_new_project_call_step.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstep:vb_create_a_new_project_call_step.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we want to create call step in call flow “Pregnancy Take Care” in project “Pregnancy Information”.</div></div></div>
</div>
