
<h1 class="sectionedit1" id="delete_reminder_group">Delete Reminder Group</h1>
<div class="level1">

<p>
When the reminder group have been created, you can edit name or people phone number in reminder group also.
</p>
<ol>
<li class="level1"><div class="li"> Go to project list by click on menu <strong>“Projects”</strong> on the top.</div>
</li>
<li class="level1"><div class="li"> Click on setting button ( <a href="/help/lib/exe/detail.php?id=en%3Avbremindergroup%3Adeleteremindergroup&amp;media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" title="en:vbprojectcallstepcontrol:vb_setting_button.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_setting_button.png" class="media" alt="" /></a> ) next to the project that you want to delete reminder group.</div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Reminder Group”</strong> tab. </div>
</li>
<li class="level1"><div class="li"> Click on button delete of the reminder group that you want to delete.</div>
</li>
<li class="level1"><div class="li"> Click button <strong>OK</strong> to confirm deleting.<br/>
</div>
</li>
</ol>
<div class="thumb2 trien" style="width:649px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?media=en:vbremindergroup:vb_delete_reminder_group.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that we want to delete reminder group <strong>Pregnancy</strong>.</div></div></div>
</div>
