
<h1 class="sectionedit1" id="how_to_create_callcentric_account">How to Create Callcentric Account</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Load website callcentric: <a href="https://www.callcentric.com/" class="urlextern" title="https://www.callcentric.com/"  rel="nofollow">https://www.callcentric.com/</a></div>
</li>
<li class="level1"><div class="li"> After finish loading, click on <strong>Signup</strong> at the top-right of callcentric website.<br/>
<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-callcentric.png" class="media" alt="" /><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
<ol>
<li class="level2"><div class="li"> <strong>First Name</strong>: fill in your fist name.</div>
</li>
<li class="level2"><div class="li"> <strong>Last Name</strong>: fill in your last name.</div>
</li>
<li class="level2"><div class="li"> <strong>Username</strong>: fill in the username for log in to Callcentric.</div>
</li>
<li class="level2"><div class="li"> <strong>Password</strong>: fill in the password for log in to Callcentric.</div>
</li>
<li class="level2"><div class="li"> <strong>Re-enter Password</strong>: fill in the password above again.</div>
</li>
<li class="level2"><div class="li"> <strong>Email</strong>: fill in your email. Callcentric will send you via this email to validate.</div>
</li>
<li class="level2"><div class="li"> Enter the symbols shown into the text box. <br/>
<div class="thumb2 tcenter" style="width:502px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-callcentric1.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that username for log in to Callcentric is <strong>anyonkh</strong> with password set. Callcentric will automatically send email to <strong>anyonkh@gmail.com</strong> to validate.</div></div></div></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Click button <strong>Continue</strong>. Callcentric will show the message as the bellow screenshot telling the message is being sent to the email you have provided.<br/>
<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-callcentric2.png" class="mediacenter" alt="" /><br/>
<br/>
</div>
</li>
<li class="level1"><div class="li"> Check inbox of the email you have provided and click on link provided to validate and activate the account.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-callcentrict3.png" class="mediacenter" alt="" /></div>
</li>
<li class="level1"><div class="li"> Callcentric website will be loaded and require you to fill in some more information before finish signing up. <br/>
Below is the screenshot showing the example of filling information.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-callcentric4.png" class="mediacenter" alt="" /></div>
</li>
<li class="level1"><div class="li"> Click button <strong>Agree, Sign me up</strong>. Callcentric will automatically log in by using username and password you have defined during register. </div>
</li>
<li class="level1"><div class="li"> Click on menu <strong>Extension</strong><br/>
<br/>
<div class="thumb2 tcenter" style="width:864px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-callcentric5.png" class="mediabox2" alt="" /><div class="thumbcaption"></div></div></div>
<p>
<br/>
<br/>

</p>
</div>
</li>
<li class="level1"><div class="li"> Click on <strong>Modify</strong> to view and/or change password. <br/>
<strong>Note:</strong> This password will use for configure when creating callcentric channel in Verboice. <br/>
<br/>
<div class="thumb2 tcenter" style="width:570px"><div class="thumbinner"><img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-callcentric6.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that the username that will be used for configure when create callcentric channel in Verboice is <strong>17772236350</strong>.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> after modifying.<br/>
</div>
</li>
</ol>

<p>
After Callcentric account has been created, go to <a href="/help/doku.php?id=en:vbmakecall:configure_callcentric_with_verboice_channel" class="wikilink1" title="en:vbmakecall:configure_callcentric_with_verboice_channel">STEP 2 to learn hot to configure Cellcentric with Verboice Channel.</a>
</p>

</div>
