
<h1 class="sectionedit1" id="verboice_phone_book">Verboice Phone Book</h1>
<div class="level1">

<p>
Phone Book is the list of phone number of the caller who call to your Verboice call flow. Verboice record the last action of all the callers to the phone book.<br/>

Click on <strong>“Phone Book”</strong> tap then Verboice will show the list of callers as the below screenshot:<br/>

</p>

<p>
<img src="/help/lib/exe/fetch.php?media=en:vbphonebook:vb_phone_book.png" class="media" alt="" />
</p>

</div>
