
<h1 class="sectionedit1" id="configure_x-lite_with_callcentric">Configure X-Lite with Callcentric</h1>
<div class="level1">

<p>
To configure X-Lite with Callcentric, <strong>you cannot use the same SIP username of Callcentric that you have used in creating Callcentric Channel</strong>. You have to create new SIP username by add new extension or create new Callcentric account.<br/>
<br/>

Run the application then you will see the application pop up. Next step you need to do is to configure for the softphone to connect to Callcentric.<br/>

<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite7.png" class="mediacenter" alt="" /><br/>

</p>

<p>
To start make a configuration click on Softphone and then Account Settings.<br/>

<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite8.png" class="mediacenter" alt="" /><br/>

</p>

<p>
Then you will see the configuration windows pop up then you have to input some information as below to configure with Callcentric:
</p>
<ul>
<li class="level1"><div class="li"> <strong>User ID</strong> is the SIP username of callcentric. Callcentric will provide you after successfully registering.</div>
</li>
<li class="level2"><div class="li"> <strong>Domain</strong> is the Callcentric <abbr title="Uniform Resource Locator">URL</abbr> : callcentric.com</div>
</li>
<li class="level2"><div class="li"> <strong>Password</strong> is the password of SIP password of SIP username of Callcentric</div>
</li>
<li class="level2"><div class="li"> <strong>Display name</strong> is the name to display of configured account </div>
</li>
<li class="level2"><div class="li"> <strong>Authorization name</strong> it&#039;s optional. You can type any. <br/>
<div class="thumb2 tcenter" style="width:399px"><div class="thumbinner"><img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:vb-x-lite-account-configuration.png" class="mediabox2" alt="" /><div class="thumbcaption">This screenshot show that the SIP username is 17772667637.</div></div></div></div>
</li>
</ul>

<p>
After you complete all the information, click OK to save the configuration.
If your configuration failed, you will see the message below.<br/>

<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite10.png" class="mediacenter" alt="" /><br/>

</p>

<p>
If your configuration is correct, you will not get any error failed message.<br/>

</p>

<p>
<img src="/verboice/lib/exe/fetch.php?media=en:vbmakecall:x_lite11.png" class="mediacenter" alt="" /><br/>

</p>

<p>
Now you are ready to call to the Verboice system. <br/>

Go to <a href="/verboice/doku.php?id=en:vbmakecall:calling_from_x-lite_to_verboice" class="wikilink1" title="en:vbmakecall:calling_from_x-lite_to_verboice">STEP 5 to learn how to call to Verboice.</a>
</p>

</div>
