
<h1 class="sectionedit1" id="edit_project">Edit Project</h1>
<div class="level1">

<p>
After the project has been created, user can edit that project by follow the instruction below:
</p>
<ol>
<li class="level1"><div class="li"> Click on <strong>”<a href="http://verboice-cambodia.instedd.org/projects" class="urlextern" title="http://verboice-cambodia.instedd.org/projects"  rel="nofollow">Projects</a>“</strong> menu.</div>
</li>
<li class="level1"><div class="li"> Click on setting icon of the project that you want to edit.<br/>
<div class="thumb2 tcenter" style="width:638px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbproject%3Aedit_project&amp;media=en:vbproject:vb_will_going_to_project_setting.png" class="media" title="en:vbproject:vb_will_going_to_project_setting.png"><img src="/verboice/lib/exe/fetch.php?media=en:vbproject:vb_will_going_to_project_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we will go to setting of project <strong>“Pregnancy Information”</strong> project.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Settings”</strong> tab.<br/>
<div class="thumb2 tcenter" style="width:860px"><div class="thumbinner"><a href="/verboice/lib/exe/detail.php?id=en%3Avbproject%3Aedit_project&amp;media=en:vbproject:vb_will_going_to_project_setting_tab.png" class="media" title="en:vbproject:vb_will_going_to_project_setting_tab.png"><img src="/verboice/lib/exe/fetch.php?w=850&amp;tok=4e4c35&amp;media=en:vbproject:vb_will_going_to_project_setting_tab.png" class="mediabox2" alt="" width="850" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/verboice/lib/exe/detail.php?id=en%3Avbproject%3Aedit_project&amp;media=en:vbproject:vb_will_going_to_project_setting_tab.png"><img width="15" height="11" alt="" src="/verboice/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that we&#039;ll go to setting of project <strong>“Pregnancy Information”</strong>.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Edit the project as you want and click on button <strong>“Update”</strong> to save change your editing.</div>
</li>
</ol>

</div>
