
<h1 class="sectionedit1" id="delete_controls_in_verboice">Delete Controls in Verboice</h1>
<div class="level1">

<p>
After the controls has been added into a call flow, you can delete any control by:
</p>
<ol>
<li class="level1"><div class="li"> Clicking on <strong>Go to Designer</strong> of any call flow that you want to delete its control.<br/>
<div class="thumb2 tcenter" style="width:610px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbdeletepcontrol%3Adelete_controls&amp;media=en:vbeditcontrol:vb_edit_control_in_project_call_flow.png" class="media" title="en:vbeditcontrol:vb_edit_control_in_project_call_flow.png"><img src="/help/lib/exe/fetch.php?w=600&amp;tok=f59efb&amp;media=en:vbeditcontrol:vb_edit_control_in_project_call_flow.png" class="mediabox2" alt="" width="600" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/help/lib/exe/detail.php?id=en%3Avbdeletepcontrol%3Adelete_controls&amp;media=en:vbeditcontrol:vb_edit_control_in_project_call_flow.png"><img width="15" height="11" alt="" src="/help/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that we want to delete the control in call flow <strong>Pregnancy Take Care</strong>.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on any control that you want to delete.<br/>
<div class="thumb2 tcenter" style="width:710px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbdeletepcontrol%3Adelete_controls&amp;media=en:vbdeletepcontrol:vb_delete_control_in_project_call_flow.png" class="media" title="en:vbdeletepcontrol:vb_delete_control_in_project_call_flow.png"><img src="/help/lib/exe/fetch.php?w=700&amp;tok=07d924&amp;media=en:vbdeletepcontrol:vb_delete_control_in_project_call_flow.png" class="mediabox2" alt="" width="700" /></a><div class="thumbcaption"><div class="magnify"><a class="internal" title="Enlarge" href="/help/lib/exe/detail.php?id=en%3Avbdeletepcontrol%3Adelete_controls&amp;media=en:vbdeletepcontrol:vb_delete_control_in_project_call_flow.png"><img width="15" height="11" alt="" src="/help/lib/plugins/imagebox/magnify-clip.png"/></a></div>This screenshot show that we want to delete Record control in call flow <strong>Pregnancy Take Care</strong>.</div></div></div></div>
</li>
<li class="level1"><div class="li"> At the right panel will show the setting of the control you have clicked. Scroll down and click on <strong>Remove this step</strong>.<br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbdeletepcontrol%3Adelete_controls&amp;media=en:vbdeletepcontrol:vb_remove_the_control_in_call_flow.png" class="media" title="en:vbdeletepcontrol:vb_remove_the_control_in_call_flow.png"><img src="/help/lib/exe/fetch.php?media=en:vbdeletepcontrol:vb_remove_the_control_in_call_flow.png" class="mediacenter" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> Click button <strong>OK</strong> to confirm.</div>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> to save change.</div>
</li>
</ol>

</div>
