
<h1 class="sectionedit1" id="step_5calling_from_x-lite_to_verboice">STEP 5: Calling from X-Lite to Verboice</h1>
<div class="level1">

<p>
Now we&#039;re ready to call to Verboice by using X-Lite softphone. <br/>

What number we should call to? <br/>

According to our configuration between Callcentric and Verboice in this instruction, the number that we should call to is <strong>17772236350</strong>. It&#039;s SIP Username.<br/>

This number will be different depend on your Callcentric account (SIP Username).<br/>

Start X-Lite softphone application then type the SIP username that we used when create Callcentric Channel then press button <strong>Call</strong>.<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-x-lite-call.png" class="mediacenter" alt="" /><br/>
<br/>

Now you can hear the voice base on the call flow selected when creating channel. <br/>
<img src="/help/lib/exe/fetch.php?media=en:vbmakecall:vb-x-lite-in-calling.png" class="mediacenter" alt="" />
</p>

</div>
