
<h1 class="sectionedit1" id="create_skype_channel">Create Skype channel</h1>
<div class="level1">

<p>
Skype channel is the channel that the system will use <a href="http://www.skype.com/en/features/skype-connect" class="urlextern" title="http://www.skype.com/en/features/skype-connect"  rel="nofollow">Skype Connect</a> to receive and make a call.
</p>
<ol>
<li class="level1"><div class="li"> Click on drop down list and choose <strong>“Skype channel”</strong><br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbchannel%3Acreateskypechannel&amp;media=en:vbchannel:vb_going_to_create_skype_channel.png" class="media" title="en:vbchannel:vb_going_to_create_skype_channel.png"><img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_going_to_create_skype_channel.png" class="media" alt="" /></a><br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
<ul>
<li class="level2"><div class="li"> <strong>Name</strong>: is the name channel</div>
</li>
<li class="level2"><div class="li"> <strong>Call flow</strong>: is a call flow in the project you would like the caller to go through when he/she call to the Skype number</div>
</li>
<li class="level2"><div class="li"> <strong>Username</strong>: is the SIP user Skype gives you</div>
</li>
<li class="level2"><div class="li"> <strong>Password</strong>: is the password of Skype SIP </div>
</li>
<li class="level2"><div class="li"> <strong>Number</strong>: is the phone number that Skype give you for your SIP account</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> to finish<br/>
</div>
</li>
</ol>

<p>
<a href="/help/lib/exe/detail.php?id=en%3Avbchannel%3Acreateskypechannel&amp;media=en:vbchannel:vb_creating_new_skype_channel.png" class="media" title="en:vbchannel:vb_creating_new_skype_channel.png"><img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_creating_new_skype_channel.png" class="mediacenter" alt="" /></a>
</p>

</div>
