
<h1 class="sectionedit1" id="how_to_use_detect_language_control">How to use &quot;Detect Language&quot; control</h1>
<div class="level1">

<p>
Detect language control is used to allow the caller to switch language preference for the call.<br/>
<strong><em><em class="u">Note</em></em></strong>: caller can switch language is depend on the language you have set for your project when <a href="/help/doku.php?id=en:vbproject:create_a_new_project" class="wikilink1" title="en:vbproject:create_a_new_project">create new project</a>. <br/>

</p>
<div class="thumb2 tcenter" style="width:326px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_detect_language_control&amp;media=en:vbprojectcallstepcontrol:vb_delect_language_control_setting.png" class="media" title="en:vbprojectcallstepcontrol:vb_delect_language_control_setting.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallstepcontrol:vb_delect_language_control_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot show that the system will ask the caller to press 1 for English language, 2 for French language or 3 for Chinese language.</div></div></div>
</div>
