
<h1 class="sectionedit1" id="what_can_i_use_it_for">What can I use it for?</h1>
<div class="level1">

<p>
Accurately tracking and allocating resources is critical to getting the most from every asset at your disposal. Here are a few ways that Resource Map can help you maximize your resource allocation and usage:<br/>

</p>

</div>

<h4 id="tracking_medical_supplies_and_personnel">Tracking Medical Supplies and Personnel</h4>
<div class="level4">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:medical.png" class="media wikilink2" title="en:introduction:medical.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:medical.png" class="medialeft" alt="" /></a>In an emergency medical situation, when lives may hang in the balance, the last thing you want to do is waste time finding supplies, personnel, and mobile or permanent treatment facilities. With Resource Map, you can quickly locate and manage critical resources on a real-time map using a computer or smartphone. On an emergency scene, when you might not have access to computers or smartphones, you and your team can view and update resource allocations with any phone capable of text messaging.<br/>

<br/>

</p>

</div>

<h4 id="monitoring_food_prices_and_supply_levels">Monitoring Food Prices and Supply Levels</h4>
<div class="level4">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:foot_price.png" class="media wikilink2" title="en:introduction:foot_price.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:foot_price.png" class="medialeft" alt="" /></a>Whether you&#039;re helping economically disadvantaged people find nutritious, fresh, and affordable produce, managing food banks, or simply trying to chart the most popular edibles in a given area, Resource Map makes it easy. And since Resource Map can be updated using almost any cellular phone, your resource data is always just as fresh as the food.
<br/>

<br/>

</p>

</div>

<h4 id="managing_disease_prevention_supplies">Managing Disease Prevention Supplies</h4>
<div class="level4">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:medical_stock.png" class="media wikilink2" title="en:introduction:medical_stock.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:medical_stock.png" class="medialeft" alt="" /></a>Medicine is at its best when it helps people avoid illness in the first place. Resource Map aids prevention efforts by giving teams new ways to manage key supply chain items, such as vaccines, vitamins, and other disease prevention tools. And by uploading statistics on various measures of health, you can even use Resource Map to monitor the effectiveness of your interventions. After all, a healthy community is one of your most important resources.<br/>

<br/>

</p>

</div>

<h4 id="testing_environmental_health">Testing Environmental Health</h4>
<div class="level4">

<p>
<a href="/resourcemap/lib/exe/detail.php?id=en%3Aintroduction%3Awhat_can_i_use_it_for&amp;media=en:introduction:environment.png" class="media wikilink2" title="en:introduction:environment.png"><img src="/resourcemap/lib/exe/fetch.php?media=en:introduction:environment.png" class="medialeft" alt="" /></a>The health of any community is intimately related to the health of the environment that surrounds it. Resource Map helps to keep the air clean, the water pure, and sanitation effective by giving you instant, visual access to an array of environmental quality indicators. Field reports can be filed with any phone capable of text messaging, allowing your team the mobility it needs to test and report environmental conditions more frequently and easily.
</p>

</div>
