
<h1 class="sectionedit1" id="using_controls_in_verboice">Using Controls in Verboice</h1>
<div class="level1">

<p>
To start add control to your call flow please click one control at the right side in the <strong>Add step</strong> box.<br/>

</p>

<p>
<a href="/verboice/lib/exe/detail.php?id=en%3Avbprojectcallstepcontrol%3Ausing_controls&amp;media=en:vbprojectcallstepcontrol:vb_add_step_control.png" class="media" title="en:vbprojectcallstepcontrol:vb_add_step_control.png"><img src="/verboice/lib/exe/fetch.php?w=900&amp;tok=61f5fe&amp;media=en:vbprojectcallstepcontrol:vb_add_step_control.png" class="mediacenter" alt="" width="900" /></a>
</p>

</div>
