
<h1 class="sectionedit1" id="create_a_new_project_call_flows">Create a New Project Call Flows</h1>
<div class="level1">

<p>
Call flow is a collection of steps of your project’s workflow that interacts with caller when he/she calls to the system.<br/>

</p>
<ol>
<li class="level1"><div class="li"> Click on <strong>”<a href="http://verboice-cambodia.instedd.org/projects" class="urlextern" title="http://verboice-cambodia.instedd.org/projects"  rel="nofollow">Projects</a>“</strong> menu.</div>
</li>
<li class="level1"><div class="li"> Click on setting icon of the project that you want to edit.<br/>
<div class="thumb2 tcenter" style="width:638px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallflow%3Acreate_a_new_project_call_flows&amp;media=en:vbproject:vb_will_going_to_project_setting.png" class="media" title="en:vbproject:vb_will_going_to_project_setting.png"><img src="/help/lib/exe/fetch.php?media=en:vbproject:vb_will_going_to_project_setting.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot showing that we will go to setting of project <strong>“Pregnancy Information”</strong> project.</div></div></div></div>
</li>
<li class="level1"><div class="li"> Click on <strong>“Call Flows”</strong> tab.<br/>
<div class="thumb2 tcenter" style="width:572px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallflow%3Acreate_a_new_project_call_flows&amp;media=en:vbprojectcallflow:vb_will_going_to_project_call_flow_tab.png" class="media" title="en:vbprojectcallflow:vb_will_going_to_project_call_flow_tab.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallflow:vb_will_going_to_project_call_flow_tab.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot show that we&#039;ll go to call flow of project <strong>“Pregnancy Information”</strong>.</div></div></div></div>
</li>
<li class="level1"><div class="li"> You will see the list of Call Flow that you created. For the first time you will see no call flow and only Add call flow. Click <strong>“Add call flow”</strong> button to add a new call flow.<br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallflow%3Acreate_a_new_project_call_flows&amp;media=en:vbprojectcallflow:vb_going_to_add_a_new_call_flow.png" class="media" title="en:vbprojectcallflow:vb_going_to_add_a_new_call_flow.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallflow:vb_going_to_add_a_new_call_flow.png" class="mediacenter" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> Call flow form will appear and fill in the information as bellow:</div>
<ol>
<li class="level2"><div class="li"> <strong><em class="u">Name</em></strong>: is the call flow name (* is required field)</div>
</li>
<li class="level2"><div class="li"> In the combo box you will see two options. </div>
<ol>
<li class="level4"><div class="li"> <strong><em class="u">Design your app in Verboice</em></strong>: You will design your call flow inside the verboice application </div>
</li>
<li class="level4"><div class="li"> <strong><em class="u">Use an external application</em></strong>: Your call flow will be design from external and would like to integrate with Verboice. When choosing this option you must provide <abbr title="Uniform Resource Locator">URL</abbr> for call flow XML and User, Password for authentication.</div>
</li>
</ol>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Click <strong>“Save”</strong> button to save call flow. <br/>
<br/>
<div class="thumb2 tcenter" style="width:695px"><div class="thumbinner"><a href="/help/lib/exe/detail.php?id=en%3Avbprojectcallflow%3Acreate_a_new_project_call_flows&amp;media=en:vbprojectcallflow:vb_creating_a_project_call_flow.png" class="media" title="en:vbprojectcallflow:vb_creating_a_project_call_flow.png"><img src="/help/lib/exe/fetch.php?media=en:vbprojectcallflow:vb_creating_a_project_call_flow.png" class="mediabox2" alt="" /></a><div class="thumbcaption">This screenshot show that we&#039;re going to create call flow name “Pregnancy Take care” and user Verboice to build this call flow.</div></div></div></div>
</li>
</ol>

</div>
