
<h1 class="sectionedit1" id="create_twilio_channel">Create Twilio channel</h1>
<div class="level1">

<p>
Twilio channel is the channel that the system will use <a href="http://www.twilio.com" class="urlextern" title="http://www.twilio.com"  rel="nofollow">Twilio account</a> to receive and make a call.
</p>
<ol>
<li class="level1"><div class="li"> Click on drop down list and choose <strong>“Twilio channel”</strong><br/>
<a href="/help/lib/exe/detail.php?id=en%3Avbchannel%3Acreatetwiliochannel&amp;media=en:vbchannel:vb_going_to_create_twilio_channel.png" class="media" title="en:vbchannel:vb_going_to_create_twilio_channel.png"><img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_going_to_create_twilio_channel.png" class="media" alt="" /></a><br/>
</div>
</li>
<li class="level1"><div class="li"> Fill in the require information as bellow:</div>
<ul>
<li class="level2"><div class="li"> <strong>Name</strong>: is the name channel</div>
</li>
<li class="level2"><div class="li"> <strong>Account sid</strong>: is provide by Twilio</div>
</li>
<li class="level2"><div class="li"> <strong>Auth token</strong>: is provide by Twilio</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> to finish<br/>
<br/>
<img src="/help/lib/exe/fetch.php?media=en:vbchannel:vb_creating_twilio_channel.png" class="media" alt="" /></div>
</li>
</ol>

</div>
