
<h1 class="sectionedit1" id="verboice_external_services">Verboice External Services</h1>
<div class="level1">

<p>
Verboice is the system that we can design call flow to the caller to interact. There is one more option for designing call flow by connecting with the external application.
</p>
<ol>
<li class="level1"><div class="li"> Click on “<strong>External Services</strong>”</div>
</li>
<li class="level1"><div class="li"> Click on “<strong>Add External Service</strong>”</div>
</li>
<li class="level1"><div class="li"> Fill in the <abbr title="Uniform Resource Locator">URL</abbr> of the external service</div>
</li>
<li class="level1"><div class="li"> Click button <strong>Save</strong> <br/>
<br/>
</div>
</li>
</ol>

<p>
<img src="/help/lib/exe/fetch.php?media=en:vbexternalservices:vb_external_services.png" class="mediacenter" alt="" />
</p>

</div>
